<section class="secondary-nav">
    <div class="secondary-nav__row">
        <div class="secondary-nav__column">
            <h4 class="secondary-nav__heading section-header">
                Решения
            </h4>
            <ul class="secondary-nav__list">
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Для образования</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Для здравоохранения</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Образовательные решения LEGO</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Инфраструктурные решения</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Интерактивные учебные пособия</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Зищищенные решения</a>
                </li>
            </ul>
        </div>
        <div class="secondary-nav__column">
            <h4 class="secondary-nav__heading section-header">
                Продукция
            </h4>
            <ul class="secondary-nav__list">
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Настольные системы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Мобильные системы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Серверные системы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Многофункциональные терминалы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Система хранения данных</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Интерактивные системы</a>
                </li>
            </ul>
        </div>
        <div class="secondary-nav__column">
            <h4 class="secondary-nav__heading section-header">
                О компании
            </h4>
            <ul class="secondary-nav__list">
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Настольные системы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Мобильные системы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Серверные системы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Многофункциональные терминалы</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Система хранения данных</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Интерактивные системы</a>
                </li>
            </ul>
        </div>
        <div class="secondary-nav__column">
            <h4 class="secondary-nav__heading section-header">
                Поддержка
            </h4>
            <ul class="secondary-nav__list">
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Сервисные центры</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Драйверы</a>
                </li>
            </ul>
        </div>
        <div class="secondary-nav__column">
            <h4 class="secondary-nav__heading section-header">
                Партнерам
            </h4>
            <ul class="secondary-nav__list">
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Преимущества</a>
                </li>
                <li class="secondary-nav__list-item">
                    <a href="#" class="secondary-nav__link">Как стать партнером</a>
                </li>
            </ul>
        </div>
        <div class="secondary-nav__column">
            <a href="#" class="section-header secondary-nav__heading-link">
                Новости
            </a>
            <a href="#" class="section-header secondary-nav__heading-link">
                Контакты
            </a>
            <a href="#" class="section-header secondary-nav__heading-link">
                Поиск по сайту
                <svg width="18" height="18" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search" />
                </svg>
            </a>
        </div>
    </div>
</section>

<div class="footer-content">
    <div class="footer-content__top-row">
        <div class="footer-content__top-row-column">
            <img src="img/logo.svg" width="82" alt="Лого ICL техно" class="footer-content__logo" />
            <div class="footer-content__icl-websites">
                <h3 class="footer-content__icl-websites-heading">
                    Сайты группы компаний ICL
                </h3>
                <ul class="footer-content__icl-websites-list">
                    <li class="footer-content__icl-websites-list-item">
                        <a href="#" class="footer-content__icl-websites-link">
                            ICL
                        </a>
                    </li>
                    <li class="footer-content__icl-websites-list-item">
                        <a href="#" class="footer-content__icl-websites-link">
                            ICL-WORKSPACE
                        </a>
                    </li>
                    <li class="footer-content__icl-websites-list-item">
                        <a href="#" class="footer-content__icl-websites-link">
                            ICL-SOLUTIONS
                        </a>
                    </li>
                    <li class="footer-content__icl-websites-list-item">
                        <a href="#" class="footer-content__icl-websites-link">
                            ICL CLOUD
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-content__top-row-column">
            <a href="tel:+78435149022" class="footer-content__phone-link">+7 (843) 514-90-22</a>
            <a href="tel:+78435149026" class="footer-content__phone-link">+7 (843) 514-90-26</a>
            <a href="#apply-modal" class="btn-with-corners footer-content__write-us js-modal-open">Написать нам</a>
        </div>
        <div class="footer-content__top-row-column footer-content__top-row-column--factory-info">
            <p class="footer-content__factory-name">
                АйСиЭл Техно (Завод вычислительной техники)
            </p>
            <p class="footer-content__factory-location">
                422624, Республика Татарстан, Лаишевский район, село Усады, ул. Дорожная, 42 <br />
                Особая экономическая зона «Иннополис»
            </p>
        </div>
    </div>
    <div class="footer-content__bottom-row">
        <span class="footer-content__copyright">
            © 2019 ОАО «ICL-КПО ВС»
        </span>
        <a href="#" class="footer-content__user-policy">
            Политика конфиденциальности
        </a>
        <a href="#" class="footer-content__vacancy">
            Вакансии
        </a>
        <ul class="footer-content__social">
            <!-- <li class="footer-content__social-item">
                <a href="#" class="footer-content__social-link">
                    <svg width="24" height="24" aria-hidden="true" class="icon-vk">
                        <use xlink:href="#vk" />
                    </svg>
                </a>
            </li>
            <li class="footer-content__social-item">
                <a href="#" class="footer-content__social-link">
                    <svg width="12" height="20" aria-hidden="true" class="icon-ok">
                        <use xlink:href="#ok" />
                    </svg>
                </a>
            </li> -->
            <li class="footer-content__social-item">
                <a href="#" class="footer-content__social-link">
                    <svg width="18" height="18" aria-hidden="true" class="icon-instagram">
                        <use xlink:href="#instagram" />
                    </svg>
                </a>
            </li>
            <li class="footer-content__social-item">
                <a href="#" class="footer-content__social-link">
                    <svg width="18" height="18" aria-hidden="true" class="icon-facebook">
                        <use xlink:href="#fb" />
                    </svg>
                </a>
            </li>
        </ul>
        <span class="footer-content__made-by"> Сайт разработан в <img src="img/mw-logo.png" width="98" alt="Лого Mark Weber" /> по технологии <a href="#">MODUL-SITE</a> </span>
    </div>
</div>


{% include "partials/modals.html" %}
