<div class="header-logo">
    <svg width="82" height="82" aria-hidden="true" class="icon-logo">
        <use xlink:href="#logo" />
    </svg>
</div>
<div class="burger-menu js-burger-menu">
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__list-item main-nav__list-item--has-submenu {% if activePage == 'about-company' %} active {% endif %}">
                <a href="#" class="main-nav__link js-submenu-link">
                    О компании
                    <svg width="10" height="6" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down" />
                    </svg>
                </a>
                <div class="main-nav__submenu-overlay"></div>
                <div class="main-nav__submenu js-submenu-content">
                    <div class="main-nav__submenu-content">
                        <ul class="main-nav__submenu-list">
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    ICL в цифрах
                                </a>
                            </li>
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    Производство
                                </a>
                            </li>
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    История компании
                                </a>
                            </li>
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    Вакансии
                                </a>
                            </li>
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    Команда
                                </a>
                            </li>
                            <li class="main-nav__submenu-list-item active">
                                <a href="#" class="main-nav__submenu-link">
                                    Новости
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">Решения</a>
            </li>
            <li class="main-nav__list-item main-nav__list-item--has-submenu {% if activePage == 'catalog' %} active {% endif %}">
                <a href="#" class="main-nav__link js-submenu-link">
                    Продукция
                    <svg width="10" height="6" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down" />
                    </svg>
                </a>
                <div class="main-nav__submenu-overlay"></div>
                <div class="main-nav__submenu js-submenu-content">
                    <div class="main-nav__submenu-content">
                        <ul class="main-nav__submenu-products">
                            <li class="main-nav__submenu-products-item active">
                                <a href="#" class="main-nav__submenu-products-link">
                                    <span class="main-nav__submenu-icon-container">
                                        <svg width="80" height="80" aria-hidden="true" class="icon-desktop">
                                            <use xlink:href="#desktop" />
                                        </svg>
                                    </span>

                                    <span class="main-nav__submenu-title">
                                        Настольные системы
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav__submenu-products-item">
                                <a href="#" class="main-nav__submenu-products-link">
                                    <span class="main-nav__submenu-icon-container">
                                        <svg width="80" height="80" aria-hidden="true" class="icon-laptop">
                                            <use xlink:href="#laptop" />
                                        </svg>
                                    </span>
                                    <span class="main-nav__submenu-title">
                                        Мобильные устройства
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav__submenu-products-item">
                                <a href="#" class="main-nav__submenu-products-link">
                                    <span class="main-nav__submenu-icon-container">
                                        <svg width="56" height="56" aria-hidden="true" class="icon-server">
                                            <use xlink:href="#server" />
                                        </svg>
                                    </span>
                                    <span class="main-nav__submenu-title">
                                        Серверные системы
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav__submenu-products-item">
                                <a href="#" class="main-nav__submenu-products-link">
                                    <span class="main-nav__submenu-icon-container">
                                        <svg width="68" height="68" aria-hidden="true" class="icon-terminal">
                                            <use xlink:href="#terminal" />
                                        </svg>
                                    </span>
                                    <span class="main-nav__submenu-title">
                                        Многофункциональные терминалы
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav__submenu-products-item">
                                <a href="#" class="main-nav__submenu-products-link">
                                    <span class="main-nav__submenu-icon-container">
                                        <svg width="61" height="61" aria-hidden="true" class="icon-hdd">
                                            <use xlink:href="#hdd" />
                                        </svg>
                                    </span>
                                    <span class="main-nav__submenu-title">
                                        Системы хранения данных
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav__submenu-products-item">
                                <a href="#" class="main-nav__submenu-products-link">
                                    <span class="main-nav__submenu-icon-container">
                                        <svg width="67" height="67" aria-hidden="true" class="icon-interactive">
                                            <use xlink:href="#interactive" />
                                        </svg>
                                    </span>
                                    <span class="main-nav__submenu-title">
                                        Интерактивные системы
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">Услуги</a>
            </li>
           
            <li class="main-nav__list-item main-nav__list-item--has-submenu {% if activePage == 'support' %} active {% endif %}">
                <a href="#" class="main-nav__link js-submenu-link">
                    Поддержка
                    <svg width="10" height="6" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down" />
                    </svg>
                </a>
                <div class="main-nav__submenu-overlay"></div>
                <div class="main-nav__submenu js-submenu-content">
                    <div class="main-nav__submenu-content">
                        <ul class="main-nav__submenu-list">
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    Сервисные центры
                                </a>
                            </li>
                            <li class="main-nav__submenu-list-item">
                                <a href="#" class="main-nav__submenu-link">
                                    Драйверы
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">Партнерам</a>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">Контакты</a>
            </li>
        </ul>
    </nav>
    <form action="/" method="GET" class="burger-menu__search-form">
        <input type="text" name="q" class="burger-menu__form-input" placeholder="Что вы хотите найти?" />
        <button class="burger-menu__form-submit">
            <svg width="22" height="22" aria-hidden="true" class="icon-search">
                <use xlink:href="#search" />
            </svg>
        </button>
    </form>
    <div class="burger-menu__row">
        <a href="tel:+78435149022" class="burger-menu__phone-link">
            +7 (843) 514-90-22
        </a>
        <a href="#apply-modal" class="btn-with-corners js-modal-open">Написать нам</a>
    </div>
    <ul class="burger-menu__social-list">
        <li class="burger-menu__social-list-item">
            <a href="#" class="burger-menu__social-link">
                <svg width="24" height="24" aria-hidden="true" class="icon-vk">
                    <use xlink:href="#vk" />
                </svg>
            </a>
        </li>
        <li class="burger-menu__social-list-item">
            <a href="#" class="burger-menu__social-link">
                <svg width="12" height="20" aria-hidden="true" class="icon-ok">
                    <use xlink:href="#ok" />
                </svg>
            </a>
        </li>
        <li class="burger-menu__social-list-item">
            <a href="#" class="burger-menu__social-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-instagram">
                    <use xlink:href="#instagram" />
                </svg>
            </a>
        </li>
        <li class="burger-menu__social-list-item">
            <a href="#" class="burger-menu__social-link">
                <svg width="18" height="18" aria-hidden="true" class="icon-linkedin">
                    <use xlink:href="#linkedin" />
                </svg>
            </a>
        </li>
    </ul>
</div>

<!-- <a href="tel:+78435149022" class="header-phone-link">+7 (843) 514-90-22</a> -->

<a href="#apply-modal" class="btn-with-corners btn-with-corners--white btn-with-corners--header-btn js-modal-open">Написать нам</a>

<a href="#" class="header-phone">
    <svg width="18" height="18" aria-hidden="true" class="icon-phone">
        <use xlink:href="#phone" />
    </svg>
</a>

<div class="header-search">
    <a href="#" class="header-search__btn js-search-btn">
        <svg width="20" height="20" aria-hidden="true" class="icon-search">
            <use xlink:href="#search" />
        </svg>
    </a>
    <div class="header-search__dropdown-overlay"></div>
    <div class="header-search__dropdown">
        <div class="header-search__dropdown-content">
            <div class="header-search__wrapper">
                <form action="/" method="GET" class="header-search__form">
                    <div class="header-search__form-row">
                        <input type="text" name="q" class="header-search__input js-search-input" placeholder="Что вы хотите найти?" />
                        <button type="submit" class="header-search__submit">
                            <span class="header-search__submit-content">
                                <svg width="22" height="22" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </form>
                <ul class="header-search__results">
                    <li class="header-search__results-item">
                        <a href="#" class="header-search__results-link">
                            <span class="header-search__result-category">
                                Категория
                                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right-no-circle">
                                    <use xlink:href="#arrow-right-no-circle" />
                                </svg>
                            </span>
                            <span class="header-search__result-text">
                                BasicRAY. Модель B182
                            </span>
                        </a>
                    </li>
                    <li class="header-search__results-item">
                        <a href="#" class="header-search__results-link">
                            <span class="header-search__result-category">
                                Категория
                                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right-no-circle">
                                    <use xlink:href="#arrow-right-no-circle" />
                                </svg>
                            </span>
                            <span class="header-search__result-text">
                                BasicRAY. Модель B182
                            </span>
                        </a>
                    </li>
                    <li class="header-search__results-item">
                        <a href="#" class="header-search__results-link">
                            <span class="header-search__result-category">
                                Категория
                                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right-no-circle">
                                    <use xlink:href="#arrow-right-no-circle" />
                                </svg>
                            </span>
                            <span class="header-search__result-text">
                                BasicRAY. Модель B182
                            </span>
                        </a>
                    </li>
                    <li class="header-search__results-item">
                        <a href="#" class="header-search__results-link">
                            <span class="header-search__result-category">
                                Новости
                                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right-no-circle">
                                    <use xlink:href="#arrow-right-no-circle" />
                                </svg>
                            </span>
                            <span class="header-search__result-text">
                                BasicRAY. Модель B182
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-cart">
    <a href="#" class="header-cart__btn">
        <svg width="20" height="20" aria-hidden="true" class="icon-cart-header">
            <use xlink:href="#cart-header" />
        </svg>
        <span class="header-cart__btn-amount header-cart__btn-amount--shown">
            2
        </span>
    </a>
</div>

<a href="#" class="header-language">
    En
</a>

<a href="#" class="burger-menu-open js-burger-btn">
    <span></span>
    <span></span>
    <span></span>
</a>
