

<div class="header-logo">
    <svg width="82" height="82" aria-hidden="true" class="icon-logo">
        <use xlink:href="#logo" />
    </svg>
</div>
<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__list-item active">
            <a href="#" class="main-nav__link">О компании</a>
        </li>
        <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Решения</a>
        </li>
        <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Продукция</a>
        </li>
        <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Услуги</a>
        </li>
        <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Поддержка</a>
        </li>
        <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Партнерам</a>
        </li>
        <li class="main-nav__list-item">
            <a href="#" class="main-nav__link">Контакты</a>
        </li>
    </ul>
</nav>

<a href="tel:+78435149022" class="header-phone-link">+7 (843) 514-90-22</a>


<a href="#" class="btn-with-corners btn-with-corners--white">Написать нам</a>

