<div class="application-modal js-modal js-compensate-for-scrollbar" id="apply-modal">
    <div class="application-modal__content">
        <button class="application-modal__close-btn js-modal-close">
            <span>
                <svg width="22" height="22" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </span>
        </button>

        <img src="img/icl-bg.jpg" alt="" class="application-modal__background-image"/>
        <div class="application-modal__inner-wrapper js-modal-scroll-wrapper">
            <h3 class="application-modal__heading">
                Свяжитесь с нами
            </h3>
            <form action="/" method="POST" class="application-modal__form success" data-parsley-validate>
                <div class="application-modal__form-row">
                    <input type="text" name="name" class="application-modal__input" required placeholder="Имя и фамилия"/>
                </div>
                <div class="application-modal__form-row">
                    <input type="email" name="email" class="application-modal__input" required placeholder="Электронная почта"/>
                </div>
                <div class="application-modal__form-row">
                    <input type="tel" name="phone" class="application-modal__input js-phone-input" required data-parsley-phone="" placeholder="Телефон"/>
                </div>
                <div class="application-modal__form-row">
                    <input type="text" name="company" class="application-modal__input" required placeholder="Компания"/>
                </div>
                <div class="application-modal__form-row">
                    <textarea name="comment" class="application-modal__textarea" placeholder="Комментарий"></textarea>
                </div>
                <div class="application-modal__form-row">
                    <label class="application-modal__checkbox">
                        <input type="checkbox" name="processing" required/>
                        <span class="application-modal__checkbox-icon"></span>
                        <span class="application-modal__checkbox-text-block">
                            <span class="application-modal__checkbox-action-text">
                                Я даю согласие на
                                <a href="#">обработку своих персональных данных</a>
                            </span>
                            <span class="application-modal__checkbox-law-name">
                                В соответствии со статьей 9 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных»
                            </span>
                        </span>
                    </label>
                </div>
                <button type="submit" class="btn-with-corners application-modal__submit">
                    <svg width="28" height="20" aria-hidden="true" class="icon-checked">
                        <use xlink:href="#checked"></use>
                    </svg>
                    Отправлено
                </button>
            </form>
        </div>
    </div>
</div>

<div class="text-modal js-modal" id="text-modal">
    <div class="text-modal__content">
        <button class="text-modal__close-btn js-modal-close">
            <span>
                <svg width="22" height="22" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </span>
        </button>
        <div class="text-modal__inner-wrapper js-modal-scroll-wrapper">
            <article class="article">
                <div class="article__header">
                    <h2 class="article__main-heading">
                        Группа компаний ICL выступила партнёром Стратегической ИТ-сессии «Почты России»
                    </h2>
                    <div class="article__header-row">
                        <span class="article__publication-date">
                            12 ноября 2019
                        </span>
                        <ul class="article__tags-list">
                            <li class="article__tags-list-item">
                                <a href="#" class="article__tags-link">Категория 1</a>
                            </li>
                            <li class="article__tags-list-item">
                                <a href="#" class="article__tags-link">Категория 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="article__content default-content">
                    <blockquote>
                        Производственно-коммерческий центр ICL выступил организатором и партнером окружного робототехнического фестиваля «Робофест- Приволжье», который состоялся 19 февраля 2016 года в Самаре.
                    </blockquote>
                    <div class="image-block">
                        <div class="image-block__image-container">
                            <img src="img/article/robots.jpg" alt="Картинка статьи" class="image-block__image"/>
                        </div>
                        <div class="image-block__row">
                            <p class="image-block__description-text">
                                Команда школьников Приволжского федерального округа
                            </p>
                            <a href="#" class="image-block__source-link">Источник</a>
                        </div>
                    </div>
                    <h2>Заголовок 2</h2>
                    <p>
                        226 команд школьников и студентов из
                        <a href="#">Приволжского федерального округа</a>
                        (Самарской, Волгоградской, Оренбургской областей, Республики Татарстан, Удмуртской республики и Республики Мордовия) продемонстрировали на фестивале свои способности в решении сложных инженерных задач и научно-техническом творчестве.
                    </p>
                    <div class="image-block image-block--floated">
                        <div class="image-block__image-container">
                            <img src="img/article/notebook.jpg" alt="Картинка статьи" class="image-block__image"/>
                        </div>
                        <div class="image-block__row">
                            <p class="image-block__description-text">
                                Команда школьников Приволжского федерального округа
                            </p>
                        </div>
                    </div>
                    <p>
                        226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей, Республики Татарстан, Удмуртской республики и Республики Мордовия) продемонстрировали на фестивале свои способности в решении сложных инженерных задач и научно-техническом творчестве.
                    </p>
                    <h3>Заголовок 3</h3>
                    <p>226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской</p>
                    <p>226 команд школьников и студентов из
                        <b>Приволжского федерального округа</b>
                        (Самарской, Волгоградской, Оренбургской областей, Республики Татарстан, Удмуртской республики и Республики Мордовия).</p>
                    <h2>Маркированный список</h2>
                    <ul>
                        <li>официальный дистрибьютор LEGO Education в России.</li>
                        <li>партнер Всемирной олимпиады роботов WRO «РобоФест»</li>
                        <li>официальный дистрибьютор LEGO Education в России.</li>
                    </ul>
                    <h2>Нумерованный список</h2>
                    <ol>
                        <li>официальный дистрибьютор LEGO Education в России.</li>
                        <li>партнер Всемирной олимпиады роботов WRO «РобоФест»</li>
                        <li>официальный дистрибьютор LEGO Education в России.</li>
                    </ol>
                </div>      
            </article>
        </div>
    </div>

</div>



<div class="application-modal application-modal--partner js-modal js-compensate-for-scrollbar" id="partner-modal">
    <div class="application-modal__content application-modal__content--partner">
        <button class="application-modal__close-btn js-modal-close">
            <span>
                <svg width="22" height="22" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </span>
        </button>

        
        <div class="application-modal__inner-wrapper js-modal-scroll-wrapper">
            <h3 class="application-modal__heading">
                Заявка на участие в партнерской программе
            </h3>
            <form action="/" method="POST" class="application__form application__form--modal success" data-parsley-validate>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Название компании
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                            <div class="application__form-remark">
                                Полное название компании с указанием формы юридического лица
                            </div>
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Город
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                        </div>
                    </label>
                </div>

                <div class="application__form-row">
                    <label class="application__form-label disabled">
                        <div class="application__form-label-text">
                            ИНН Компании
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" disabled />
                        </div>
                    </label>
                </div>

                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Телефон
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="tel" class="application__form-input js-phone-input" required data-parsley-phone />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Факс
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="tel" class="application__form-input js-phone-input" required data-parsley-phone />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Сайт компании
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="url" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Сайт компании
                        </div>

                        <div class="application__form-input-wrapper">
                            <select name="select" class="js-custom-select" required>
                                <option value="value1">до 50 человек</option>
                                <option value="value2">до 30 человек</option>
                                <option value="value3">до 20 человек</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <div class="application__form-label">
                        <div class="application__form-label-text application__form-label-text--checkbox-text">
                            Основные направления деятельности компании
                        </div>

                        <div class="application__form-input-wrapper">
                            <label class="application__form-checkbox">
                                <input type="checkbox" checked />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                продажа компьютерного оборудования
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                продажа программного обеспечения
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                производство оборудования
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                построение инженерных систем
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                разработка программного обеспечения
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                сервисные услуги
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                ИТ-аутсорсинг
                            </label>
                            <label class="application__form-checkbox">
                                <input type="checkbox" />
                                <span class="application__form-checkbox-icon">
                                    <svg width="12" height="14" aria-hidden="true" class="icon-checkbox-mark">
                                        <use xlink:href="#checkbox-mark" />
                                    </svg>
                                </span>
                                другая деятельность
                            </label>
                        </div>
                    </div>
                </div>
                <div class="application__form-row">
                    <div class="application__form-label">
                        <div class="application__form-label-text application__form-label-text--checkbox-text">
                            Ваши клиенты
                        </div>

                        <div class="application__form-input-wrapper">
                            <label class="application__form-radio">
                                <input type="radio" name="clients" value="corporate" checked />
                                <span class="application__form-radio-icon"> </span>
                                корпоративные клиенты
                            </label>
                            <label class="application__form-checkbox">
                                <input type="radio" name="clients" value="educational" />
                                <span class="application__form-radio-icon"> </span>
                                образовательные учреждения
                            </label>
                            <label class="application__form-checkbox">
                                <input type="radio" name="clients" value="med" />
                                <span class="application__form-radio-icon"> </span>
                                учреждения здравоохранения
                            </label>
                            <label class="application__form-checkbox">
                                <input type="radio" name="clients" value="police" />
                                <span class="application__form-radio-icon"> </span>
                                силовые структуры
                            </label>
                            <label class="application__form-checkbox">
                                <input type="radio" name="clients" value="retail" />
                                <span class="application__form-radio-icon"> </span>
                                розница
                            </label>
                            <label class="application__form-checkbox">
                                <input type="radio" name="clients" value="others" />
                                <span class="application__form-radio-icon"> </span>
                                другие
                            </label>
                        </div>
                    </div>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Планируете ли вы стать сервисным центром ICL?
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <h3 class="application__form-heading">
                    Руководитель компании
                </h3>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Ф.И.О.
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Электронная почта
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="email" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <h3 class="application__form-heading">
                    Руководитель отдела продаж
                </h3>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Ф.И.О.
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Телефон
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="tel" class="application__form-input js-phone-input" required data-parsley-phone />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Электронная почта
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="email" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <h3 class="application__form-heading">
                    Сотрудник, заполнивший анкету
                </h3>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Ф.И.О.
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Телефон
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="tel" class="application__form-input js-phone-input" required data-parsley-phone />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Электронная почта
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="email" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <div class="application__form-row">
                    <label class="application__form-label">
                        <div class="application__form-label-text">
                            Должность
                        </div>

                        <div class="application__form-input-wrapper">
                            <input type="text" class="application__form-input" required />
                        </div>
                    </label>
                </div>
                <label class="application-modal__checkbox">
                    <input type="checkbox" name="processing" required="" data-parsley-multiple="processing" />
                    <span class="application-modal__checkbox-icon"></span>
                    <span class="application-modal__checkbox-text-block">
                        <span class="application-modal__checkbox-action-text">
                            Я даю согласие на
                            <a href="#">обработку своих персональных данных</a>
                        </span>
                        <span class="application-modal__checkbox-law-name">
                            В соответствии со статьей 9 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных»
                        </span>
                    </span>
                </label>
                <div class="application__form-submit-wrapper">
                    <button type="submit" class="btn-with-corners application-modal__submit">
                        <svg width="28" height="20" aria-hidden="true" class="icon-checked">
                            <use xlink:href="#checked"></use>
                        </svg>
                        Отправлено
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>