{% set title = "О компании" %} {% set headerColor = "white" %} {% set activePage = "about-company" %} {% extends "layout.html" %} {% block content %}

<section class="navigation-standalone">
    <div class="main-nav__submenu-content main-nav__submenu-content--standalone">
        <ul class="main-nav__submenu-list">
            <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">
                    ICL в цифрах
                </a>
            </li>
            <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">
                    Производство
                </a>
            </li>
            <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">
                    История компании
                </a>
            </li>
            <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">
                    Вакансии
                </a>
            </li>
            <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">
                    Команда
                </a>
            </li>
            <li class="main-nav__submenu-list-item active">
                <a href="#" class="main-nav__submenu-link">
                    Новости
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="breadcrumbs-header fullwidth-block">
    <div class="breadcrumbs-header__background">
        <img src="img/breadcrumbs-header.jpg" alt="Картинка в шапке с хлебными крошками" class="breadcrumbs-header__background-image" />
        <video class="breadcrumbs-header__background-video video-lazy" autoplay playsinline muted loop>
            <source data-src="misc/video/open-plan-working.mp4" type="video/mp4" />
            Your browser doesn't support HTML5 video tag.
        </video>
    </div>
    <div class="breadcrumbs-header__content">
        <ul class="breadcrumbs-header__breadcrumbs-list">
            <li class="breadcrumbs-header__breadcrumbs-list-item">
                <a href="#" class="breadcrumbs-header__breadcrumbs-link">Главная</a>
            </li>
            <li class="breadcrumbs-header__breadcrumbs-list-item">
                <a href="#" class="breadcrumbs-header__breadcrumbs-link">Общая информация</a>
            </li>
        </ul>
        <h1 class="breadcrumbs-header__heading">
            О компании
        </h1>
    </div>

    <a href="misc/video/open-plan-working.mp4" data-fancybox class="breadcrumbs-header__play-link" data-width="400">
        <svg width="80" height="80" aria-hidden="true" class="icon-play">
            <use xlink:href="#play"></use>
        </svg>
    </a>
</section>

<section class="about-company-detailed">
    <h2 class="section-header about-company-detailed__block-heading">
        О компании
    </h2>
    <div class="about-company-detailed__row">
        <div class="about-company-detailed__content-column">
            <div class="about-company-detailed__content default-content">
                <h2>
                    ICL Techno − российский производитель вычислительной техники, входящий в группу компаний ICL
                </h2>
                <blockquote>
                    Cтратегия нашей компании – создание и производство новых высокотехнологичных продуктов для автоматизации бизнес-процессов во всех отраслях экономики, промышленных и торговых предприятиях, социальных проектах.
                </blockquote>
                <p>
                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                </p>
                <p>
                    Ориентированность на конечного пользователя и применение в наших продуктах передовых ИТ-технологий позволяет создавать конкурентные и эффективные решения. Используя в составе своих решений программные продукты собственной
                    разработки, мы имеем возможность гибкого подхода к решению задач заказчика.
                </p>
            </div>
        </div>
        <div class="about-company-detailed__image-column">
            <img src="img/about-company-detailed.jpg" alt="Изображение блока О компании" class="about-company-detailed__image" />
        </div>
    </div>
</section>
<section class="production">
    <div class="production__row">
        <div class="production__video-column">
            <div class="production__video js-inline-video">
                <a href="https://www.youtube.com/watch?v=KNtMIerw3ds" class="production__video-link" target="_blank"> </a>
                <div class="production__video-container">
                    <svg width="80" height="80" aria-hidden="true" class="icon-play">
                        <use xlink:href="#play" />
                    </svg>
                    <img src="img/video-preview.jpg" alt="Превью видео" />
                </div>
            </div>
        </div>
        <div class="production__content-column">
            <h2 class="section-header production__block-heading">
                Производство
            </h2>
            <div class="production__content default-content">
                <h2>
                    Мы производим лучшую вычислительную технику на рынке
                </h2>
                <p>
                    Производство расположено на собственном Заводе вычислительной техники мощностью до 300 000 изделий в год. Все линейки компьютерной техники ICL находятся в серийном производстве.
                </p>
                <a href="https://www.youtube.com/watch?v=KNtMIerw3ds" data-fancybox class="btn-with-corners btn-with-corners--large">Подробнее о производстве</a>
            </div>
        </div>
    </div>
</section>
<section class="production">
    <div class="production__row">
        <div class="production__video-column">
            <div class="gallery-slider js-gallery-slider">
                <div class="gallery-slider__main js-gallery-slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <a href="https://youtube.com" class="gallery-slider__main-card-image-container">
                                        <div class="gallery-slider__main-card-image-size-wrapper">
                                            <img src="img/article/Slider.jpg" alt="Фотография в слайдере" class="gallery-slider__main-card-image" />
                                            <div class="gallery-slider__main-card-description">
                                                Команда школьников Приволжского федерального округа
                                            </div>
                                        </div>
                                        <svg width="80" height="80" aria-hidden="true" class="icon-play">
                                            <use xlink:href="#play" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="gallery-slider__thumb-hidden-container">
                                    <div class="gallery-slider__thumbs-card">
                                        <div class="gallery-slider__thumbs-card-image-container">
                                            <img src="img/gallery-slider/slide-photo-1.jpg" alt="Фотография превью слайда" class="gallery-slider__thumbs-card-image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <div class="gallery-slider__main-card-image-container">
                                        <div class="gallery-slider__main-card-image-size-wrapper">
                                            <img src="img/gallery-slider/annie-spratt-QckxruozjRg-unsplash.jpg" alt="Фотография в слайдере" class="gallery-slider__main-card-image" />
                                            <div class="gallery-slider__main-card-description">
                                                Команда школьников Приволжского федерального округа
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-slider__thumb-hidden-container">
                                    <div class="gallery-slider__thumbs-card">
                                        <div class="gallery-slider__thumbs-card-image-container">
                                            <img src="img/gallery-slider/slide-photo-2.jpg" alt="Фотография превью слайда" class="gallery-slider__thumbs-card-image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__main-card">
                                    <a href="https://youtube.com" class="gallery-slider__main-card-image-container">
                                        <div class="gallery-slider__main-card-image-size-wrapper">
                                            <img src="img/article/Slider.jpg" alt="Фотография в слайдере" class="gallery-slider__main-card-image" />
                                            <div class="gallery-slider__main-card-description">
                                                Команда школьников Приволжского федерального округа
                                            </div>
                                        </div>
                                        <svg width="80" height="80" aria-hidden="true" class="icon-play">
                                            <use xlink:href="#play" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="gallery-slider__thumb-hidden-container">
                                    <div class="gallery-slider__thumbs-card">
                                        <div class="gallery-slider__thumbs-card-image-container">
                                            <img src="img/gallery-slider/slide-photo-1.jpg" alt="Фотография превью слайда" class="gallery-slider__thumbs-card-image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery-slider__bottom-section">
                    <a href="#" class="gallery-slider__arrow js-gallery-slider-prev">
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </a>
                    <div class="gallery-slider__thumbs js-gallery-slider-thumbs">
                        <div class="swiper-container">
                            <div class="swiper-wrapper"></div>
                        </div>
                    </div>
                    <a href="#" class="gallery-slider__arrow js-gallery-slider-next">
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="production__content-column">
            <h2 class="section-header production__block-heading">
                Производство
            </h2>
            <div class="production__content default-content">
                <h2>
                    Мы производим лучшую вычислительную технику на рынке
                </h2>
                <p>
                    Производство расположено на собственном Заводе вычислительной техники мощностью до 300 000 изделий в год. Все линейки компьютерной техники ICL находятся в серийном производстве.
                </p>
                <a href="https://www.youtube.com/watch?v=KNtMIerw3ds" data-open-in-modal="Y" class="btn-with-corners btn-with-corners--large">Подробнее о производстве</a>
            </div>
        </div>
    </div>
</section>
<section class="our-clients">
    <div class="our-clients__row">
        <div class="our-clients__content-column">
            <h2 class="section-header our-clients__block-heading">
                Наши клиенты
            </h2>
            <div class="our-clients__content default-content">
                <h2>
                    Наши клиенты − крупнейшие компании в Российской Федерации
                </h2>
                <p>
                    Сегодня компьютерная техника ICL работает во всех регионах России - от Калининграда до Дальнего Востока. В нашем портфолио решения для силовых структур, органов государственной власти, образования, здравоохранения, предприятий
                    промышленности и торговли.
                </p>
                <a href="#" class="btn-with-corners btn-with-corners--large">Реализованые проекты</a>
            </div>
        </div>
        <div class="our-clients__slider-column">
            <div class="our-clients__slider js-our-clients-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="our-clients__slider-image-container">
                                <img src="img/our-clients.jpg" alt="Изображение в блоке наши клиенты" class="our-clients__slider-image" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__slider-image-container">
                                <img src="img/top-slider/slider-bg-1.jpg" alt="Изображение в блоке наши клиенты" class="our-clients__slider-image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-clients__slider-arrows">
                    <a href="#" class="our-clients__slider-arrow js-our-clients-slider-prev">
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </a>
                    <a href="#" class="our-clients__slider-arrow js-our-clients-slider-next">
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-clients our-clients--reversed">
    <div class="our-clients__row">
        <div class="our-clients__content-column">
            <h2 class="section-header our-clients__block-heading">
                Наши клиенты
            </h2>
            <div class="our-clients__content default-content">
                <h2>
                    Наши клиенты − крупнейшие компании в Российской Федерации
                </h2>
                <p>
                    Сегодня компьютерная техника ICL работает во всех регионах России - от Калининграда до Дальнего Востока. В нашем портфолио решения для силовых структур, органов государственной власти, образования, здравоохранения, предприятий
                    промышленности и торговли.
                </p>
                <a href="misc/video/open-plan-working.mp4" class="btn-with-corners btn-with-corners--large" data-fancybox>Реализованые проекты</a>
            </div>
        </div>
        <div class="our-clients__slider-column">
            <div class="our-clients__slider js-our-clients-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="our-clients__slider-image-container">
                                <img src="img/our-clients.jpg" alt="Изображение в блоке наши клиенты" class="our-clients__slider-image" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__slider-image-container">
                                <img src="img/top-slider/slider-bg-1.jpg" alt="Изображение в блоке наши клиенты" class="our-clients__slider-image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-clients__slider-arrows">
                    <a href="#" class="our-clients__slider-arrow js-our-clients-slider-prev">
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </a>
                    <a href="#" class="our-clients__slider-arrow js-our-clients-slider-next">
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
