{% set title = "Новости" %} {% set headerColor = "white" %} {% extends "layout.html" %} {% block content %}
<section class="all-news">
    <h1 class="all-news__heading">
        Новости
    </h1>
    <ul class="all-news__navigation-list">
        <li class="all-news__navigation-list-item active">
            <a href="#" class="all-news__navigation-link">
                2019
            </a>
        </li>
        <li class="all-news__navigation-list-item">
            <a href="#" class="all-news__navigation-link">
                2018
            </a>
        </li>
        <li class="all-news__navigation-list-item">
            <a href="#" class="all-news__navigation-link">
                2017
            </a>
        </li>
        <li class="all-news__navigation-list-item">
            <a href="#" class="all-news__navigation-link">
                2016
            </a>
        </li>
        <li class="all-news__navigation-list-item">
            <a href="#" class="all-news__navigation-link">
                2015
            </a>
        </li>
        <li class="all-news__navigation-list-item">
            <a href="#" class="all-news__navigation-link">
                2014
            </a>
        </li>
        <li class="all-news__navigation-list-item">
            <a href="#" class="all-news__navigation-link">
                2013
            </a>
        </li>
    </ul>
    <ul class="all-news__list">
        <li class="all-news__list-item">
            <a href="#" class="all-news__card">
                <span class="all-news__card-columns">
                    <span class="all-news__card-left-column">
                        <span class="all-news__card-date">
                            12
                            <span class="all-news__card-month">
                                ноя
                            </span>
                        </span>
    
                        <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                            <use xlink:href="#small-arrow-right"></use>
                        </svg>
                    </span>
                    <span class="all-news__card-right-column">
                        <span class="all-news__card-image-container">
                            <img src="img/news/news-image-1.jpg" alt="Новость 1" class="all-news__card-image" />
                        </span>
                        
                    </span>
                </span>
                <span class="all-news__card-text">
                    СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                </span>
            </a>
        </li>
        <li class="all-news__list-item">
            <a href="#" class="all-news__card">
                <span class="all-news__card-columns">
                    <span class="all-news__card-left-column">
                        <span class="all-news__card-date">
                            12
                            <span class="all-news__card-month">
                                ноя
                            </span>
                        </span>
    
                        <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                            <use xlink:href="#small-arrow-right"></use>
                        </svg>
                    </span>
                    <span class="all-news__card-right-column">
                        <span class="all-news__card-image-container">
                            <img src="img/news/news-image-2.jpg" alt="Новость 1" class="all-news__card-image" />
                        </span>
                        
                    </span>
                </span>
                <span class="all-news__card-text">
                    СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                </span>
            </a>
        </li>
        <li class="all-news__list-item">
            <a href="#" class="all-news__card">
                <span class="all-news__card-columns">
                    <span class="all-news__card-left-column">
                        <span class="all-news__card-date">
                            12
                            <span class="all-news__card-month">
                                ноя
                            </span>
                        </span>
    
                        <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                            <use xlink:href="#small-arrow-right"></use>
                        </svg>
                    </span>
                    <span class="all-news__card-right-column">
                        <span class="all-news__card-image-container">
                            <img src="img/news/news-image-3.jpg" alt="Новость 1" class="all-news__card-image" />
                        </span>
                        
                    </span>
                </span>
                <span class="all-news__card-text">
                    СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                </span>
            </a>
        </li>
        <li class="all-news__list-item">
            <a href="#" class="all-news__card">
                <span class="all-news__card-columns">
                    <span class="all-news__card-left-column">
                        <span class="all-news__card-date">
                            12
                            <span class="all-news__card-month">
                                ноя
                            </span>
                        </span>
    
                        <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                            <use xlink:href="#small-arrow-right"></use>
                        </svg>
                    </span>
                    <span class="all-news__card-right-column">
                        <span class="all-news__card-image-container">
                            <img src="img/news/news-image-1.jpg" alt="Новость 1" class="all-news__card-image" />
                        </span>
                        
                    </span>
                </span>
                <span class="all-news__card-text">
                    СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                </span>
            </a>
        </li>
        <li class="all-news__list-item">
            <a href="#" class="all-news__card">
                <span class="all-news__card-columns">
                    <span class="all-news__card-left-column">
                        <span class="all-news__card-date">
                            12
                            <span class="all-news__card-month">
                                ноя
                            </span>
                        </span>
    
                        <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                            <use xlink:href="#small-arrow-right"></use>
                        </svg>
                    </span>
                    <span class="all-news__card-right-column">
                        <span class="all-news__card-image-container">
                            <img src="img/news/news-image-2.jpg" alt="Новость 1" class="all-news__card-image" />
                        </span>
                        
                    </span>
                </span>
                <span class="all-news__card-text">
                    СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                </span>
            </a>
        </li>
        <li class="all-news__list-item">
            <a href="#" class="all-news__card">
                <span class="all-news__card-columns">
                    <span class="all-news__card-left-column">
                        <span class="all-news__card-date">
                            12
                            <span class="all-news__card-month">
                                ноя
                            </span>
                        </span>
    
                        <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                            <use xlink:href="#small-arrow-right"></use>
                        </svg>
                    </span>
                    <span class="all-news__card-right-column">
                        <span class="all-news__card-image-container">
                            <img src="img/news/news-image-3.jpg" alt="Новость 1" class="all-news__card-image" />
                        </span>
                        
                    </span>
                </span>
                <span class="all-news__card-text">
                    СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                </span>
            </a>
        </li>
    </ul>
</section>

{% endblock %}
