{% set title = "Блоки" %} {% set headerColor = "white" %} {% extends "layout.html" %} {% block content %}

<section class="callback" style="background-image: url('img/icl-bg.jpg');">
    <div class="callback__row">
        <div class="callback__left-column">
            <div class="callback__content default-content">
                <h3>
                    Заголовок блока об. связи
                </h3>
                <p>
                    Звоните нашим специалистам 8 800 555-55-55 или задайте свой вопрос через форму.
                </p>
                <ul>
                    <li>Информационные материалы по всей линейке продукции</li>
                    <li>Демо-комплекты оборудования</li>
                    <li>Участие специалистов ICL в ваших мероприятиях для заказчиков</li>
                </ul>
            </div>
        </div>
        <div class="callback__right-column">
            <form action="/" method="POST" class="callback__form" data-parsley-validate>
                <div class="callback__form-input-group">
                    <input type="text" class="callback__form-input" name="name" placeholder="Имя и фамилия" required>
                </div>
                <div class="callback__form-input-group">
                    <input type="email" class="callback__form-input" name="email" placeholder="Электронная почта" required>
                </div>
                <div class="callback__form-input-group">
                    <textarea class="callback__form-textarea" name="comment" placeholder="Комментарий" required></textarea>
                </div>
                <span class="callback__form-policy">
                    Я согласен с <a href="#">политикой конфиденциальности</a>
                </span>
                <button type="submit" class="btn-with-corners callback__form-submit">
                    Узнать стоимость
                </button>
            </form>
        </div>
    </div>
</section>


<section class="documents">
    <h2 class="documents__heading">
        Заголовок блока с документами
    </h2>
    <h3 class="documents__subheading">
        Подзаголовок группы документов
    </h3>

    <div class="documents__slider js-documents-slider">
        <ul class="documents__list">
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <img src="img/documents/document-1.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">
                            Сертификат соответсвия №2: НИП ФСБ 0000034115
                        </span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>

            <li class="documents__list-item">
                <a href="#" class="documents__card documents__card--instruction">
                    <img src="img/documents/document-2.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">Инструкция по использованию сервера</span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <img src="img/documents/document-1.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">
                            Сертификат соответсвия №2: НИП ФСБ 0000034115
                        </span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <img src="img/documents/document-1.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">
                            Сертификат соответсвия №2: НИП ФСБ 0000034115
                        </span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <img src="img/documents/document-1.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">
                            Сертификат соответсвия №2: НИП ФСБ 0000034115
                        </span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <img src="img/documents/document-1.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">
                            Сертификат соответсвия №2: НИП ФСБ 0000034115
                        </span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <img src="img/documents/document-1.jpg" alt="Изображение документа" class="documents__image" />
                    <span class="documents__card-title">
                        <span class="documents__card-title-text">
                            Сертификат соответсвия №2: НИП ФСБ 0000034115
                        </span>
                    </span>
                    <span class="documents__card-size">
                        PDF 345 КБ
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="faq">
    <h2 class="faq__heading">
        Заголовок блока с вопросами-ответами
    </h2>
    <div class="faq__row js-tabs">
        <div class="faq__left-column">
            <div class="faq__tabs-navigation js-tabs-navigation">
                <a href="#" class="faq__navigation-btn active">
                    <span class="faq__navigation-btn-text">
                        Сервис и гарантия
                    </span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Условия использования</span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Сервис и гарантия</span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Условия использования</span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Сервис и гарантия</span>
                </a>
            </div>
        </div>
        <div class="faq__right-column">
            <ul class="faq__tabs-list js-tabs-list">
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="our-history js-our-history">
    <span class="section-header our-history__section-header">
        Наша история
    </span>
    <h2 class="our-history__heading">
        История компании
    </h2>
    <div class="our-history__range-slider js-our-history-range-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
        </div>
    </div>
    <div class="our-history__info-slider js-our-history-info-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="our-history__info-card">
                        <div class="our-history__info-card-left-column">
                            <h4>
                                Основание компании ICL Техно
                            </h4>
                            <p>
                                ICL − российский производитель компьютерной техники, предоставляющий комплексные решения в области информационных технологий и услуги по консалтингу,
                            </p>
                            <p>
                                Проектированию, внедрению, гарантийному и сервисному обслуживанию информационных систем любого масштаба.
                            </p>
                        </div>
                        <div class="our-history__info-card-right-column">
                            <img src="img/our-history/our-history-slide.jpg" alt="Картинка слайда История компании" />
                        </div>
                    </div>
                    <div class="our-history__hidden-thumb-container">
                        <div class="our-history__range-slider-block">
                            <span class="our-history__year">
                                1991
                            </span>
                            <span class="our-history__year">
                                1992
                            </span>
                            <span class="our-history__year">
                                1993
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="our-history__info-card">
                        <div class="our-history__info-card-left-column">
                            <h4>
                                Основание компании ICL Техно
                            </h4>
                            <p>
                                ICL − российский производитель компьютерной техники, предоставляющий комплексные решения в области информационных технологий и услуги по консалтингу,
                            </p>
                            <p>
                                Проектированию, внедрению, гарантийному и сервисному обслуживанию информационных систем любого масштаба.
                            </p>
                        </div>
                        <div class="our-history__info-card-right-column">
                            <img src="img/gallery-slider/annie-spratt-QckxruozjRg-unsplash.jpg" alt="Картинка слайда История компании" />
                        </div>
                    </div>
                    <div class="our-history__hidden-thumb-container">
                        <div class="our-history__range-slider-block">
                            <span class="our-history__year">
                                1994
                            </span>
                            <span class="our-history__year">
                                1995
                            </span>
                            <span class="our-history__year">
                                1996
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="our-history__info-card">
                        <div class="our-history__info-card-left-column">
                            <h4>
                                Основание компании ICL Техно
                            </h4>
                            <p>
                                ICL − российский производитель компьютерной техники, предоставляющий комплексные решения в области информационных технологий и услуги по консалтингу,
                            </p>
                            <p>
                                Проектированию, внедрению, гарантийному и сервисному обслуживанию информационных систем любого масштаба.
                            </p>
                            <p>
                                ICL − российский производитель компьютерной техники, предоставляющий комплексные решения в области информационных технологий и услуги по консалтингу,
                            </p>
                            <p>
                                Проектированию, внедрению, гарантийному и сервисному обслуживанию информационных систем любого масштаба.
                            </p>
                        </div>
                        <div class="our-history__info-card-right-column">
                            <img src="img/article/Slider.jpg" alt="Картинка слайда История компании" />
                        </div>
                    </div>
                    <div class="our-history__hidden-thumb-container">
                        <div class="our-history__range-slider-block">
                            <span class="our-history__year">
                                1997
                            </span>
                            <span class="our-history__year">
                                1998
                            </span>
                            <span class="our-history__year">
                                1999
                            </span>
                            <span class="our-history__year">
                                2000
                            </span>
                            <span class="our-history__year">
                                2001
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="our-history__info-card">
                        <div class="our-history__info-card-left-column">
                            <h4>
                                Основание компании ICL Техно
                            </h4>
                            <p>
                                ICL − российский производитель компьютерной техники, предоставляющий комплексные решения в области информационных технологий и услуги по консалтингу,
                            </p>
                            <p>
                                Проектированию, внедрению, гарантийному и сервисному обслуживанию информационных систем любого масштаба.
                            </p>
                            <p>
                                ICL − российский производитель компьютерной техники, предоставляющий комплексные решения в области информационных технологий и услуги по консалтингу,
                            </p>
                            <p>
                                Проектированию, внедрению, гарантийному и сервисному обслуживанию информационных систем любого масштаба.
                            </p>
                        </div>
                        <div class="our-history__info-card-right-column">
                            <img src="img/article/Slider.jpg" alt="Картинка слайда История компании" />
                        </div>
                    </div>
                    <div class="our-history__hidden-thumb-container">
                        <div class="our-history__range-slider-block">
                            <span class="our-history__year">
                                2002
                            </span>
                            <span class="our-history__year">
                                2003
                            </span>
                            <span class="our-history__year">
                                2004
                            </span>
                            <span class="our-history__year">
                                2005
                            </span>
                            <span class="our-history__year">
                                2006
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-history__slider-controls">
            <a href="#" class="our-history__slider-arrow js-history-slider-prev">
                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <a href="#" class="our-history__slider-arrow js-history-slider-next">
                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
<section class="serial">
    <h3 class="serial__heading">
        Скачать драйверы по серийному номеру
    </h3>
    <div class="serial__row">
        <div class="serial__left-column">
            <p class="serial__instruction-text">
                Для того, чтобы скачать драйвер необходимо указать серийный номер
            </p>
        </div>
        <div class="serial__right-column">
            <p class="serial__instruction-text">
                Серийный номер можно найти на шильдике на корпусе сервера
            </p>
        </div>
    </div>
    <div class="serial__row">
        <div class="serial__left-column">
            <form action="/" method="GET" class="serial__form">
                <label for="serial" class="serial__form-label">Введите серийный номер</label>
                <input type="text" name="serial" class="serial__form-input js-serial-masking" id="serial" />
                <button type="submit" class="btn-with-corners serial__form-submit">
                    Искать
                </button>
            </form>
        </div>
        <div class="serial__right-column serial__right-column--image-column">
            <img src="img/serial/serial.jpg" alt="Картинка с инструкцией" class="serial__instruction-image" />
        </div>
    </div>
    <div class="serial__search-results">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Версия</th>
                    <th>Опубликовано</th>
                    <th>Размер</th>
                    <th>Файл</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Название">Драйвер материнской платы — BasicRAY. Модель B182</td>
                    <td data-th="Версия">431.60</td>
                    <td data-th="Опубликовано">20.07.2019</td>
                    <td data-th="Размер">567,7 МБ</td>
                    <td data-th="Файл"><a href="#">Скачать</a></td>
                </tr>
                <tr>
                    <td data-th="Название">Драйвер материнской платы — BasicRAY. Модель B182</td>
                    <td data-th="Версия">431.60</td>
                    <td data-th="Опубликовано">20.07.2019</td>
                    <td data-th="Размер">567,7 МБ</td>
                    <td data-th="Файл"><a href="#">Скачать</a></td>
                </tr>
                <tr>
                    <td data-th="Название">Драйвер материнской платы — BasicRAY. Модель B182</td>
                    <td data-th="Версия">431.60</td>
                    <td data-th="Опубликовано">20.07.2019</td>
                    <td data-th="Размер">567,7 МБ</td>
                    <td data-th="Файл"><a href="#">Скачать</a></td>
                </tr>
                <tr>
                    <td data-th="Название">Драйвер материнской платы — BasicRAY. Модель B182</td>
                    <td data-th="Версия">431.60</td>
                    <td data-th="Опубликовано">20.07.2019</td>
                    <td data-th="Размер">567,7 МБ</td>
                    <td data-th="Файл"><a href="#">Скачать</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
