{% set title = "Блоки" %} {% set headerColor = "white" %} {% extends "layout.html" %} {% block content %}
<section class="faq">
    <h2 class="faq__heading">
        Заголовок блока с вопросами-ответами
    </h2>
    <div class="faq__row js-tabs">
        <div class="faq__left-column">
            <div class="faq__tabs-navigation js-tabs-navigation">
                <a href="#" class="faq__navigation-btn active">
                    <span class="faq__navigation-btn-text">
                        Сервис и гарантия
                    </span>
                    
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Условия использования</span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Сервис и гарантия</span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Условия использования</span>
                </a>
                <a href="#" class="faq__navigation-btn">
                    <span class="faq__navigation-btn-text">Сервис и гарантия</span>
                </a>
            </div>
        </div>
        <div class="faq__right-column">
            <ul class="faq__tabs-list js-tabs-list">
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="faq__tabs-item">
                    <ul class="faq__accordeons-list">
                        <li class="faq__accordeons-list-item js-accordeon">
                            <a href="#" class="faq__accordeons-toggle js-accordeon-btn">
                                <span class="faq__accordeons-toggle-text">
                                    Компания представляет собой объединение предприятий, способных выполнить все этапы реализации проекта.
                                </span>
                                <svg width="25" height="25" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross" />
                                </svg>
                            </a>
                            <div class="faq__accordeons-content js-accordeon-content">
                                <p>
                                    С 2006 года группа компаний ICL уверенно входит в пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                                <p>
                                    Пятерку лидеров по производству компьютерного оборудования в России, и мы постоянно стремимся укреплять свои позиции и совершенствовать наши продукты.
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="our-history">
    
</section>

{% endblock %}
