{% set title = "Каталог" %} {% set headerColor = "white" %} {% extends "layout.html" %} {% block content %}
<section class="education">
    <span class="education__background">
        <img src="img/education.jpg" alt="Картинка образовательного блока" class="education__background-image">
    </span>
    <div class="education__content">
        <h2 class="education__heading">
            Наши решения для образования самые лучшие
        </h2>
        <p class="education__text">
            Базовая модель, настольный компьютер начального уровня. Наиболее востребованная модель у корпоративных пользователей для работы с документами, почтой и различными.
        </p>
        <a href="#" class="btn-with-corners education__link">
            Решения для образования
        </a>
    </div>
    
</section>
<section class="catalog">
    <ul class="catalog__list">
        
    </ul>
</section>

{% endblock %}
