{% set title = "Каталог" %} {% set headerColor = "white" %} {% set activePage = "catalog" %} {% extends "layout.html" %} {% block content %}

<section class="navigation-standalone">
    <div class="main-nav__submenu-content main-nav__submenu-content--standalone">
        <ul class="main-nav__submenu-products">
            <li class="main-nav__submenu-products-item active">
                <a href="#" class="main-nav__submenu-products-link">
                    <span class="main-nav__submenu-icon-container">
                        <img src="img/products/desktop.svg" alt="">
                    </span>

                    <span class="main-nav__submenu-title">
                        Настольные системы
                    </span>
                </a>
            </li>
            <li class="main-nav__submenu-products-item">
                <a href="#" class="main-nav__submenu-products-link">
                    <span class="main-nav__submenu-icon-container">
                        <img src="img/products/laptop.svg" alt="">
                    </span>
                    <span class="main-nav__submenu-title">
                        Мобильные устройства
                    </span>
                </a>
            </li>
            <li class="main-nav__submenu-products-item">
                <a href="#" class="main-nav__submenu-products-link">
                    <span class="main-nav__submenu-icon-container">
                        <img src="img/products/server.svg" alt="">
                    </span>
                    <span class="main-nav__submenu-title">
                        Серверные системы
                    </span>
                </a>
            </li>
            <li class="main-nav__submenu-products-item">
                <a href="#" class="main-nav__submenu-products-link">
                    <span class="main-nav__submenu-icon-container">
                        <img src="img/products/terminal.svg" alt="">
                    </span>
                    <span class="main-nav__submenu-title">
                        Многофункциональные терминалы
                    </span>
                </a>
            </li>
            <li class="main-nav__submenu-products-item">
                <a href="#" class="main-nav__submenu-products-link">
                    <span class="main-nav__submenu-icon-container">
                        <img src="img/products/hdd.svg" alt="">
                    </span>
                    <span class="main-nav__submenu-title">
                        Системы хранения данных
                    </span>
                </a>
            </li>
            <li class="main-nav__submenu-products-item">
                <a href="#" class="main-nav__submenu-products-link">
                    <span class="main-nav__submenu-icon-container">
                        <img src="img/products/interactive.svg" alt="">
                    </span>
                    <span class="main-nav__submenu-title">
                        Интерактивные системы
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="education fullwidth-block">
    <span class="education__background">
        <img src="img/education.jpg" alt="Картинка образовательного блока" class="education__background-image" />
    </span>
    <div class="education__content">
        <h2 class="education__heading">
            Наши решения для образования самые лучшие
        </h2>
        <p class="education__text">
            Базовая модель, настольный компьютер начального уровня. Наиболее востребованная модель у корпоративных пользователей для работы с документами, почтой и различными.
        </p>
        <a href="#" class="btn-with-corners education__link">
            Решения для образования
        </a>
    </div>
</section>
<section class="catalog">
    <ul class="catalog__list">
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-1.jpg" alt="Продукт 1" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 400 Вт
                            </li>
                            <li>
                                Чипсет материнской платы Intel H310 Express
                            </li>
                            <li>
                                Сокет процессора LGA1151
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-2.jpg" alt="Продукт 2" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-3.jpg" alt="Продукт 3" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-4.jpg" alt="Продукт 4" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-1.jpg" alt="Продукт 1" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 400 Вт
                            </li>
                            <li>
                                Чипсет материнской платы Intel H310 Express
                            </li>
                            <li>
                                Сокет процессора LGA1151
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-2.jpg" alt="Продукт 2" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-3.jpg" alt="Продукт 3" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-4.jpg" alt="Продукт 4" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-1.jpg" alt="Продукт 1" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 400 Вт
                            </li>
                            <li>
                                Чипсет материнской платы Intel H310 Express
                            </li>
                            <li>
                                Сокет процессора LGA1151
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-2.jpg" alt="Продукт 2" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-3.jpg" alt="Продукт 3" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
        <li class="catalog__list-item">
            <a href="#" class="catalog__product-card">
                <div class="catalog__product-image-width-wrapper">
                    <div class="catalog__product-image-container">
                        <img src="img/catalog/product-4.jpg" alt="Продукт 4" class="catalog__product-image" />
                        <span class="catalog__product-corner">
                            <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="catalog__product-content">
                    <h6 class="catalog__product-title">
                        BasicRAY. Модель B182
                    </h6>
                    <p class="catalog__product-description">
                        Высокопроизводительный и функциональный ПК с защитой от неблагоприятных внешних воздействий.
                    </p>
                    <div class="catalog__product-specs-list">
                        <ul>
                            <li>
                                Корпус MicroTower
                            </li>
                            <li>
                                Блок питания 200/300 Вт
                            </li>
                            <li>
                                Чипсет материнской платы H110
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <nav class="pagination">
        <a href="#" class="pagination__prev-link">
            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-left" />
            </svg>
        </a>
        <ul class="pagination__list">
            <li class="pagination__list-item active">
                <a href="#" class="pagination__link">1</a>
            </li>
            <li class="pagination__list-item">
                <a href="#" class="pagination__link">2</a>
            </li>
            <li class="pagination__list-item">
                <a href="#" class="pagination__link">3</a>
            </li>
            <li class="pagination__list-item">
                <a href="#" class="pagination__link">4</a>
            </li>
            <li class="pagination__list-item">
                <a href="#" class="pagination__link">5</a>
            </li>
        </ul>
        <a href="#" class="pagination__next-link">
            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                <use xlink:href="#arrow-right" />
            </svg>
        </a>
    </nav>
</section>

{% endblock %}
