{% set title = "Конфигуратор" %} {% set headerColor = "white" %} {% extends "layout.html" %} {% block content %}

<section class="cart">
    <h2 class="cart__heading">
        В корзине 3 конфигурации
    </h2>
    <div class="cart__row">
        <div class="cart__left-column">
            <ul class="cart__items-list">
                <li class="cart__items-list-item">
                    <div class="cart__items-card">
                        <img src="img/configurator/cart-image.jpg" alt="" class="cart__items-card-image" />
                        <div class="cart__items-card-info">
                            <span class="cart__items-card-info-name">
                                Персональный компьютер SafeRAY S171
                            </span>
                            <span class="cart__items-card-info-model">
                                    151KG/U2362/36263/7LJCVJ/GFGU425
                            </span>

                            <ul class="cart__items-card-info-specs-list">
                                <li class="cart__items-card-info-specs-list-item">
                                    tinyTower 250W/B250
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    i3-7100 (3.9GHz)
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    8 Gb DDR4 / 1Tb HDD / 2Tb HDD
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    0 DVD-RW
                                </li>
                            </ul>

                            <a href="#" class="cart__items-card-info-show-all">Показать все</a>
                        </div>
                        <div class="cart__items-card-controls">
                            <div class="cart__items-card-controls-top-row">
                                <div class="amount-btn">
                                    <a href="#" class="amount-btn__decrease">
                                        <svg width="6" height="2" aria-hidden="true" class="icon-minus">
                                            <use xlink:href="#minus" />
                                        </svg>
                                    </a>
                                    <div class="amount-btn__number">
                                        1
                                    </div>
                                    <a href="#" class="amount-btn__increase">
                                        <svg width="8" height="8" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="cart__items-card-price">
                                    <span class="cart__items-card-price-large">1 211 $</span>
                                    <span class="cart__items-card-price-small">224 145 ₽</span>
                                </div>
                            </div>
                            <div class="cart__items-card-controls-bottom-row">
                                <a href="#" class="cart__items-action-btn">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cart-edit">
                                        <use xlink:href="#cart-edit" />
                                    </svg>
                                    Редактировать
                                </a>
                                <a href="#" class="cart__items-action-btn">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cart-remove">
                                        <use xlink:href="#cart-remove" />
                                    </svg>
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cart__items-list-item">
                    <div class="cart__items-card">
                        <img src="img/configurator/cart-image.jpg" alt="" class="cart__items-card-image" />
                        <div class="cart__items-card-info">
                            <span class="cart__items-card-info-name">
                                Персональный компьютер SafeRAY S171
                            </span>
                            <span class="cart__items-card-info-model">
                                    151KG/U2362/36263/7LJCVJ/GFGU425
                            </span>

                            <ul class="cart__items-card-info-specs-list">
                                <li class="cart__items-card-info-specs-list-item">
                                    tinyTower 250W/B250
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    i3-7100 (3.9GHz)
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    8 Gb DDR4 / 1Tb HDD / 2Tb HDD
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    0 DVD-RW
                                </li>
                            </ul>

                            <a href="#" class="cart__items-card-info-show-all">Показать все</a>
                        </div>
                        <div class="cart__items-card-controls">
                            <div class="cart__items-card-controls-top-row">
                                <div class="amount-btn">
                                    <a href="#" class="amount-btn__decrease">
                                        <svg width="6" height="2" aria-hidden="true" class="icon-minus">
                                            <use xlink:href="#minus" />
                                        </svg>
                                    </a>
                                    <div class="amount-btn__number">
                                        1
                                    </div>
                                    <a href="#" class="amount-btn__increase">
                                        <svg width="8" height="8" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="cart__items-card-price">
                                    <span class="cart__items-card-price-large">224 145 ₽</span>
                                    
                                </div>
                            </div>
                            <div class="cart__items-card-controls-bottom-row">
                                <a href="#" class="cart__items-action-btn">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cart-edit">
                                        <use xlink:href="#cart-edit" />
                                    </svg>
                                    Редактировать
                                </a>
                                <a href="#" class="cart__items-action-btn">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cart-remove">
                                        <use xlink:href="#cart-remove" />
                                    </svg>
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cart__items-list-item">
                    <div class="cart__items-card">
                        <img src="img/configurator/cart-image.jpg" alt="" class="cart__items-card-image" />
                        <div class="cart__items-card-info">
                            <span class="cart__items-card-info-name">
                                Персональный компьютер SafeRAY S171
                            </span>
                            <span class="cart__items-card-info-model">
                                    151KG/U2362/36263/7LJCVJ/GFGU425
                            </span>

                            <ul class="cart__items-card-info-specs-list">
                                <li class="cart__items-card-info-specs-list-item">
                                    tinyTower 250W/B250
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    i3-7100 (3.9GHz)
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    8 Gb DDR4 / 1Tb HDD / 2Tb HDD
                                </li>
                                <li class="cart__items-card-info-specs-list-item">
                                    0 DVD-RW
                                </li>
                            </ul>

                            <a href="#" class="cart__items-card-info-show-all">Показать все</a>
                        </div>
                        <div class="cart__items-card-controls">
                            <div class="cart__items-card-controls-top-row">
                                <div class="amount-btn">
                                    <a href="#" class="amount-btn__decrease">
                                        <svg width="6" height="2" aria-hidden="true" class="icon-minus">
                                            <use xlink:href="#minus" />
                                        </svg>
                                    </a>
                                    <div class="amount-btn__number">
                                        1
                                    </div>
                                    <a href="#" class="amount-btn__increase">
                                        <svg width="8" height="8" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="cart__items-card-price">
                                    <span class="cart__items-card-price-large">224 145 ₽</span>
                                    
                                </div>
                            </div>
                            <div class="cart__items-card-controls-bottom-row">
                                <a href="#" class="cart__items-action-btn">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cart-edit">
                                        <use xlink:href="#cart-edit" />
                                    </svg>
                                    Редактировать
                                </a>
                                <a href="#" class="cart__items-action-btn">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cart-remove">
                                        <use xlink:href="#cart-remove" />
                                    </svg>
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="cart__items-add-more-btn">
                Добавить еще
            </a>
        </div>
        <div class="cart__right-column">
            <div class="cart__summary">
                <div class="cart__summary-amount">
                    <span class="cart__summary-amount-text">
                        Итого:
                    </span>
                    <span class="cart__summary-amount-text">
                        632 399 ₽
                    </span>
                </div>
                <p class="cart__summary-form-description">
                    Оставьте заявку
                </p>
                <form action="/" method="POST" class="cart__summary-form" autocomplete="off" data-parsley-validate>
                    
                    <input type="text" name="name" class="cart__summary-form-input" placeholder="Имя и фамилия" required>
                    <input type="text" name="company" class="cart__summary-form-input" placeholder="Компания" required>
                    <input type="email" name="company" class="cart__summary-form-input" placeholder="Электронная почта" required>
                    <input type="tel" name="telephone" class="cart__summary-form-input js-phone-input" placeholder="Телефон" data-parsley-phone required>
                    <textarea name="message" class="cart__summary-form-textarea" placeholder="Сообщение"></textarea>
                    <button type="submit" class="cart__summary-form-submit-btn">
                        Оставить заявку
                    </button>
                </form>
            </div>
            <div class="cart__aux-buttons">
                <a href="#" class="cart__aux-buttons-btn"></a>
            </div>
        </div>
    </div>
</section>
<section class="callback" style="background-image: url('img/icl-bg.jpg');">
    <div class="callback__row">
        <div class="callback__left-column">
            <div class="callback__content default-content">
                <h3>
                    Нужна помощь?
                </h3>
                <p>
                    Звоните нашим специалистам 8 800 555-55-55 или задайте свой вопрос через форму.
                </p>
                <ul>
                    <li>Информационные материалы по всей линейке продукции</li>
                    <li>Демо-комплекты оборудования</li>
                    <li>Участие специалистов ICL в ваших мероприятиях для заказчиков</li>
                </ul>
            </div>
        </div>
        <div class="callback__right-column">
            <form action="/" method="POST" class="callback__form" data-parsley-validate>
                <div class="callback__form-input-group">
                    <input type="text" class="callback__form-input" name="name" placeholder="Имя и фамилия" required />
                </div>
                <div class="callback__form-input-group">
                    <input type="email" class="callback__form-input" name="email" placeholder="Электронная почта" required />
                </div>
                <div class="callback__form-input-group">
                    <textarea class="callback__form-textarea" name="comment" placeholder="Комментарий" required></textarea>
                </div>
                <span class="callback__form-policy"> Я согласен с <a href="#">политикой конфиденциальности</a> </span>
                <button type="submit" class="btn-with-corners callback__form-submit">
                    Узнать стоимость
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
