{% set title = "Контакты" %} {% set headerColor = "white" %} {% set activePage = "contacts" %} {% extends "layout.html" %} {% block content %}

<section class="contacts">
    <h2 class="contacts__heading">
        Контакты
    </h2>
    <ul class="contacts__info-list">
        <li class="contacts__info-list-item">
            <div class="contacts__info-block">
                <h5>
                    Департамент продаж и маркетинга
                </h5>
                <p>
                    +7 (843) 514-90-23<br />
                    +7 (843) 514-90-24 (6314)
                </p>
                <p>
                    <a href="mailto:ivagizov@icl.kazan.ru">ivagizov@icl.kazan.ru</a>
                </p>
            </div>
        </li>
        <li class="contacts__info-list-item">
            <div class="contacts__info-block">
                <h5>
                    Приемная генерального директора
                </h5>
                <p>
                    +7 (843) 514-90-15<br />
                    факс . +7 (843) 567-25-93
                </p>
            </div>
        </li>
        <li class="contacts__info-list-item">
            <div class="contacts__info-block">
                <h5>
                    Отдел продаж и маркетинга
                </h5>
                <p>
                    +7 (843) 514-90-22<br />
                    +7 (843) 514-90-26<br />
                    +7 (843) 514-90-27
                </p>
            </div>
        </li>
        <li class="contacts__info-list-item">
            <div class="contacts__info-block">
                <h5>
                    Сервисные центры
                </h5>
                <p>
                    8 800 333-78-40
                </p>
            </div>
        </li>
        <li class="contacts__info-list-item">
            <div class="contacts__info-block">
                <h5>
                    Сервисные центры
                </h5>
                <ul>
                    <li>
                        <a href="#">
                            <svg width="20" height="12" aria-hidden="true" class="icon-vk">
                                <use xlink:href="#vk" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg width="12" height="20" aria-hidden="true" class="icon-ok">
                                <use xlink:href="#ok" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg width="18" height="18" aria-hidden="true" class="icon-instagram">
                                <use xlink:href="#instagram" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg width="18" height="18" aria-hidden="true" class="icon-facebook">
                                <use xlink:href="#fb" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="contacts__map-block">
        <div class="contacts__map-wrapper js-yandex-map" data-coords="55.672290, 49.214374" data-center-coords="55.66006467664298, 49.3554791518554" data-pin="img/pin.svg"></div>
        <div class="contacts__map-info-block">
            <h3 class="contacts__map-info-block-heading">
                ICL Техно
            </h3>
            <p class="contacts__map-info-block-description">
                Завод вычислительной техники
            </p>
            <div class="contacts__map-info-block-content">
                <h5>
                    Адрес
                </h5>
                <p>
                    422624, Республика Татарстан, Лаишевский район, село Усады, ул. Дорожная, 42
                </p>
                <p>
                    Особая экономическая зона «Иннополис»
                </p>
            </div>
        </div>
    </div>
    <div class="contacts__map-info-block contacts__map-info-block--mobile">
        <h3 class="contacts__map-info-block-heading">
            ICL Техно
        </h3>
        <p class="contacts__map-info-block-description">
            Завод вычислительной техники
        </p>
        <div class="contacts__map-info-block-content">
            <h5>
                Адрес
            </h5>
            <p>
                422624, Республика Татарстан, Лаишевский район, село Усады, ул. Дорожная, 42
            </p>
            <p>
                Особая экономическая зона «Иннополис»
            </p>
        </div>
    </div>
    <div class="contacts__table">
        <h3 class="contacts__table-heading">
            Реквизиты ICL Техно
        </h3>
        <table class="contacts__table-info">
            <tr>
                <th>
                    Наименование предприятия
                </th>
                <td>
                    Общество с ограниченной ответственностью «АйСиЭл Техно»
                </td>
            </tr>
            <tr>
                <th>
                    Юридический адрес
                </th>
                <td>
                    422624, РТ, Лаишевский муниципальный район, с/п Столбищенское, с. Усады, ул.Дорожная, д.42
                </td>
            </tr>
            <tr>
                <th>
                    ИНН
                </th>
                <td>
                    1624014670
                </td>
            </tr>
            <tr>
                <th>
                    КПП
                </th>
                <td>
                    162401001
                </td>
            </tr>
            <tr>
                <th>
                    ОКПО
                </th>
                <td>
                    01780253
                </td>
            </tr>
            <tr>
                <th>
                    Банк
                </th>
                <td>
                    Филиал Банка ВТБ (ПАО) в г.Нижний Новгород
                </td>
            </tr>
            <tr>
                <th>
                    Расчетный счет
                </th>
                <td>
                    4070 2810 3252 4000 1869
                </td>
            </tr>
            <tr>
                <th>
                    Корр. Счет
                </th>
                <td>
                    3010 1810 2000 0000 0837
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="callback" style="background-image: url('img/icl-bg.jpg');">
    <div class="callback__row">
        <div class="callback__left-column">
            <div class="callback__content default-content">
                <h3>
                    Нужна помощь?
                </h3>
                <p>
                    Звоните нашим специалистам 8 800 555-55-55 или задайте свой вопрос через форму.
                </p>
                <ul>
                    <li>Информационные материалы по всей линейке продукции</li>
                    <li>Демо-комплекты оборудования</li>
                    <li>Участие специалистов ICL в ваших мероприятиях для заказчиков</li>
                </ul>
            </div>
        </div>
        <div class="callback__right-column">
            <form action="/" method="POST" class="callback__form" data-parsley-validate>
                <div class="callback__form-input-group">
                    <input type="text" class="callback__form-input" name="name" placeholder="Имя и фамилия" required />
                </div>
                <div class="callback__form-input-group">
                    <input type="email" class="callback__form-input" name="email" placeholder="Электронная почта" required />
                </div>
                <div class="callback__form-input-group">
                    <textarea class="callback__form-textarea" name="comment" placeholder="Комментарий" required></textarea>
                </div>
                <span class="callback__form-policy"> Я согласен с <a href="#">политикой конфиденциальности</a> </span>
                <button type="submit" class="btn-with-corners callback__form-submit">
                    Узнать стоимость
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
