{% set title = "Index Page" %} {% extends "layout.njk" %} {% block content %}
<section class="intro-slider js-intro-slider">
    <ul class="intro-slider__slides-container js-intro-slider-slides">
        <li class="intro-slider__slide active">
            <div class="intro-slider__slide-content">
                <div class="intro-slider__slide-text-block">
                    <h4 class="intro-slider__slide-heading">
                        ICL − Проводник в мир высоких технологий
                    </h4>
                    <p class="intro-slider__slide-paragraph">
                        Предоставляем комплексные решения в области информационных технологий и услуги по консалтингу, проектированию, внедрению.
                    </p>
                </div>
            </div>
            <div class="intro-slider__slide-bg-content intro-slider__slide-bg-content--type-1">
                <div class="diagonal-gradient"></div>
                <div class="image-overlay"></div>
                <img src="img/top-slider/slider-bg-1.jpg" alt="Изображение в слайдере" class="halfscreen-image">
                <div class="brick-near-edge"></div>
                <div class="brick-1"></div>
                <div class="brick-2"></div>
                <div class="brick-3"></div>
                <div class="brick-4"></div>
                <div class="brick-5"></div>
            </div>
        </li>
        <li class="intro-slider__slide">
            <div class="intro-slider__slide-content">
                <div class="intro-slider__slide-text-block">
                    <h4 class="intro-slider__slide-heading">
                        Слайд 2
                    </h4>
                    <p class="intro-slider__slide-paragraph">
                        Предоставляем комплексные решения в области информационных технологий и услуги по консалтингу, проектированию, внедрению.
                    </p>
                </div>
            </div>
            <div class="intro-slider__slide-bg-content"></div>
        </li>
        <li class="intro-slider__slide">
            <div class="intro-slider__slide-content">
                <div class="intro-slider__slide-text-block">
                    <h4 class="intro-slider__slide-heading">
                        Слайд 3
                    </h4>
                    <p class="intro-slider__slide-paragraph">
                        Предоставляем комплексные решения в области информационных технологий и услуги по консалтингу, проектированию, внедрению.
                    </p>
                </div>
            </div>
            <div class="intro-slider__slide-bg-content"></div>
        </li>
        <li class="intro-slider__slide">
            <div class="intro-slider__slide-content">
                <div class="intro-slider__slide-text-block">
                    <h4 class="intro-slider__slide-heading">
                        Слайд 4
                    </h4>
                    <p class="intro-slider__slide-paragraph">
                        Предоставляем комплексные решения в области информационных технологий и услуги по консалтингу, проектированию, внедрению.
                    </p>
                </div>
            </div>
            <div class="intro-slider__slide-bg-content"></div>
        </li>
        <li class="intro-slider__slide">
            <div class="intro-slider__slide-content">
                <div class="intro-slider__slide-text-block">
                    <h4 class="intro-slider__slide-heading">
                        Слайд 5
                    </h4>
                    <p class="intro-slider__slide-paragraph">
                        Предоставляем комплексные решения в области информационных технологий и услуги по консалтингу, проектированию, внедрению.
                    </p>
                </div>
            </div>
            <div class="intro-slider__slide-bg-content">
                
            </div>
        </li>
    </ul>
    <div class="intro-slider__pagination-container">
        <ul class="intro-slider__pagination js-intro-slider-pagination">
            <li class="intro-slider__pagination-item active">
                <a href="#" class="intro-slider__pagination-btn">
                    <span class="intro-slider__pagination-image-popover">
                        <img src="img/top-slider/btn-bg.jpg" alt="Картинка превью на кнопке" class="intro-slider__pagination-image-popover-image" />
                        <span class="intro-slider__pagination-image-popover-text">
                            Завод вычислительной техники
                        </span>
                    </span>
                </a>
            </li>
            <li class="intro-slider__pagination-item">
                <a href="#" class="intro-slider__pagination-btn"
                    ><span class="intro-slider__pagination-image-popover">
                        <img src="img/top-slider/btn-bg.jpg" alt="Картинка превью на кнопке" class="intro-slider__pagination-image-popover-image" />
                        <span class="intro-slider__pagination-image-popover-text">
                            Завод вычислительной техники
                        </span>
                    </span></a
                >
            </li>
            <li class="intro-slider__pagination-item">
                <a href="#" class="intro-slider__pagination-btn"
                    ><span class="intro-slider__pagination-image-popover">
                        <img src="img/top-slider/btn-bg.jpg" alt="Картинка превью на кнопке" class="intro-slider__pagination-image-popover-image" />
                        <span class="intro-slider__pagination-image-popover-text">
                            Завод вычислительной техники
                        </span>
                    </span></a
                >
            </li>
            <li class="intro-slider__pagination-item">
                <a href="#" class="intro-slider__pagination-btn"
                    ><span class="intro-slider__pagination-image-popover">
                        <img src="img/top-slider/btn-bg.jpg" alt="Картинка превью на кнопке" class="intro-slider__pagination-image-popover-image" />
                        <span class="intro-slider__pagination-image-popover-text">
                            Завод вычислительной техники
                        </span>
                    </span></a
                >
            </li>
            <li class="intro-slider__pagination-item">
                <a href="#" class="intro-slider__pagination-btn"
                    ><span class="intro-slider__pagination-image-popover">
                        <img src="img/top-slider/btn-bg.jpg" alt="Картинка превью на кнопке" class="intro-slider__pagination-image-popover-image" />
                        <span class="intro-slider__pagination-image-popover-text">
                            Завод вычислительной техники
                        </span>
                    </span></a
                >
            </li>
        </ul>
    </div>
</section>

<section class="home-news">
    <div class="home-news__top-row">
        <h2 class="section-header">
            Новости
        </h2>
        <a href="#" class="section-header">Все новости</a>
    </div>
    <div class="home-news__slider">
        <div class="home-news__slider-container">
            <ul class="home-news__list">
                <li class="home-news__list-item">
                    <a href="#" class="home-news__card">
                        <span class="home-news__card-left-column">
                            <span class="home-news__card-date">
                                12
                                <span class="home-news__card-month">
                                    ноя
                                </span>
                            </span>

                            <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                                <use xlink:href="#small-arrow-right" />
                            </svg>
                        </span>
                        <span class="home-news__card-right-column">
                            <span class="home-news__card-image-container">
                                <img src="img/news/news-image-2.jpg" alt="Новость 1" class="home-news__card-image" />
                            </span>
                            <span class="home-news__card-text">
                                СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                            </span>
                        </span>
                    </a>
                </li>
                <li class="home-news__list-item">
                    <a href="#" class="home-news__card">
                        <span class="home-news__card-left-column">
                            <span class="home-news__card-date">
                                12
                                <span class="home-news__card-month">
                                    ноя
                                </span>
                            </span>

                            <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                                <use xlink:href="#small-arrow-right" />
                            </svg>
                        </span>
                        <span class="home-news__card-right-column">
                            <span class="home-news__card-image-container">
                                <img src="img/news/news-image-2.jpg" alt="Новость 2" class="home-news__card-image" />
                            </span>
                            <span class="home-news__card-text">
                                СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                            </span>
                        </span>
                    </a>
                </li>
                <li class="home-news__list-item">
                    <a href="#" class="home-news__card">
                        <span class="home-news__card-left-column">
                            <span class="home-news__card-date">
                                12
                                <span class="home-news__card-month">
                                    ноя
                                </span>
                            </span>

                            <svg width="10" height="18" aria-hidden="true" class="icon-small-arrow-right">
                                <use xlink:href="#small-arrow-right" />
                            </svg>
                        </span>
                        <span class="home-news__card-right-column">
                            <span class="home-news__card-image-container">
                                <img src="img/news/news-image-3.jpg" alt="Новость 3" class="home-news__card-image" />
                            </span>
                            <span class="home-news__card-text">
                                СХД от «Рэйдикс» и ICL обеспечит сохранность данных Территориального фонда ОМС в Республике Мордовия
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
