{% set title = "Детальная страница новости" %} {% set headerColor = "white" %} {% extends "layout.html" %} {% block content %}

<a href="#" class="internal-page-back-link">
    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-right-no-circle inverted">
        <use xlink:href="#arrow-right-no-circle" />
    </svg>
    Назад к новостям
</a>
<div class="layout-row">
    <div class="layout-main-column">
        <article class="article">
            <div class="article__header">
                <h2 class="article__main-heading">
                    Группа компаний ICL выступила партнёром Стратегической ИТ-сессии «Почты России»
                </h2>
                <div class="article__header-row">
                    <span class="article__publication-date">
                        12 ноября 2019
                    </span>
                    <ul class="article__tags-list">
                        <li class="article__tags-list-item">
                            <a href="#" class="article__tags-link">Категория 1</a>
                        </li>
                        <li class="article__tags-list-item">
                            <a href="#" class="article__tags-link">Категория 2</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="article__content default-content">
                <blockquote>
                    Производственно-коммерческий центр ICL выступил организатором и партнером окружного робототехнического фестиваля «Робофест- Приволжье», который состоялся 19 февраля 2016 года в Самаре.
                </blockquote>
                <div class="image-block">
                    <div class="image-block__image-container">
                        <img src="img/article/robots.jpg" alt="Картинка статьи" class="image-block__image" />
                    </div>
                    <div class="image-block__row">
                        <p class="image-block__description-text">
                            Команда школьников Приволжского федерального округа
                        </p>
                        <a href="#" class="image-block__source-link">Источник</a>
                    </div>
                </div>
                <h2>Заголовок 2</h2>
                <p>
                    226 команд школьников и студентов из <a href="#">Приволжского федерального округа</a> (Самарской, Волгоградской, Оренбургской областей, Республики Татарстан, Удмуртской республики и Республики Мордовия) продемонстрировали на
                    фестивале свои способности в решении сложных инженерных задач и научно-техническом творчестве.
                </p>
                <div class="image-block image-block--floated">
                    <div class="image-block__image-container">
                        <img src="img/article/notebook.jpg" alt="Картинка статьи" class="image-block__image" />
                    </div>
                    <div class="image-block__row">
                        <p class="image-block__description-text">
                            Команда школьников Приволжского федерального округа
                        </p>
                    </div>
                </div>
                <p>
                    226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей, Республики Татарстан, Удмуртской республики и Республики Мордовия) продемонстрировали на фестивале свои
                    способности в решении сложных инженерных задач и научно-техническом творчестве.
                </p>
                <h3>Заголовок 3</h3>
                <p>226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской</p>
                <p>226 команд школьников и студентов из <b>Приволжского федерального округа</b> (Самарской, Волгоградской, Оренбургской областей, Республики Татарстан, Удмуртской республики и Республики Мордовия).</p>
                <div class="text-insertion text-insertion--type-1">
                    <div class="text-insertion__image-container">
                        <img src="img/article/girl.jpg" alt="Картинка текстовой вставки" class="text-insertion__image" />
                    </div>
                    <div class="text-insertion__content">
                        <div class="text-insertion__content-wrapper">
                            <h4>Заголовок 4 к текстовой вставке одним предложением</h4>
                            <p>
                                226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей.
                            </p>
                        </div>

                        <a href="#" class="text-insertion__btn">
                            Узнать подробнее
                            <svg width="16" height="8" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="text-insertion text-insertion--type-2">
                    <img src="img/article/landscape.jpg" alt="Картинка текстовой вставки" class="text-insertion__image" />
                    <div class="text-insertion__content">
                        <div class="text-insertion__content-wrapper">
                            <h3>Заголовок 3 к вставке c картинкой и одним предложением</h3>
                            <p>226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей.</p>
                        </div>
                        <a href="#" class="btn-with-corners text-insertion__btn">
                            Решения для образования
                        </a>
                    </div>
                </div>
                <div class="text-insertion text-insertion--type-3">
                    <div class="text-insertion__content">
                        <div class="text-insertion__content-wrapper">
                            <h4>Заголовок 4 к текстовой вставке одним предложением</h4>
                            <span>
                                12 ноября 2019
                            </span>
                            <p>226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей.</p>
                        </div>
                        <a href="#" class="text-insertion__btn">
                            Узнать подробнее
                            <svg width="16" height="8" aria-hidden="true" class="icon-arrow-right-no-circle">
                                <use xlink:href="#arrow-right-no-circle" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="text-insertion text-insertion--slider js-text-insertion-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-insertion__content">
                                    <div class="text-insertion__content-wrapper">
                                        <h4>Заголовок 4 к текстовой цитате</h4>
                                        <p>
                                            226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей. 226 команд школьников и студентов из Приволжского федерального округа (Самарской,
                                            Волгоградской, Оренбургской областей.226 команд школьников и студентов из Приволжского федерального округа.
                                        </p>
                                    </div>
                                    <div class="text-insertion__author">
                                        <div class="text-insertion__author-image-container">
                                            <img src="img/article/minich.jpg" alt="Фотка автора" class="text-insertion__author-image" />
                                        </div>
                                        <div class="text-insertion__author-content">
                                            <p class="text-insertion__author-name">
                                                Алексей Дементьев
                                            </p>
                                            <p class="text-insertion__author-company">
                                                Директор ООО "Стройхимпром"
                                            </p>
                                            <a href="#" class="text-insertion__author-website">Сайт компании</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-insertion__content">
                                    <div class="text-insertion__content-wrapper">
                                        <h4>Заголовок 4 к текстовой цитате</h4>
                                        <p>226 команд школьников и студентов из Приволжского федерального округа (Самарской, Волгоградской, Оренбургской областей.</p>
                                    </div>
                                    <div class="text-insertion__author">
                                        <div class="text-insertion__author-image-container">
                                            <img src="img/article/minich.jpg" alt="Фотка автора" class="text-insertion__author-image" />
                                        </div>
                                        <div class="text-insertion__author-content">
                                            <p class="text-insertion__author-name">
                                                Алексей Алексеев
                                            </p>
                                            <p class="text-insertion__author-company">
                                                Директор ООО "Стройхимпром"
                                            </p>
                                            <a href="#" class="text-insertion__author-website">Сайт компании</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-insertion__slider-controls">
                        <a href="#" class="text-insertion__slider-arrow js-text-insertion-slider-prev">
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </a>
                        <a href="#" class="text-insertion__slider-arrow js-text-insertion-slider-next">
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <h2>Маркированный список</h2>
                <ul>
                    <li>официальный дистрибьютор LEGO Education в России.</li>
                    <li>партнер Всемирной олимпиады роботов WRO «РобоФест»</li>
                    <li>официальный дистрибьютор LEGO Education в России.</li>
                </ul>
                <h2>Нумерованный список</h2>
                <ol>
                    <li>официальный дистрибьютор LEGO Education в России.</li>
                    <li>партнер Всемирной олимпиады роботов WRO «РобоФест»</li>
                    <li>официальный дистрибьютор LEGO Education в России.</li>
                </ol>
                <h2>Таблица 1.1</h2>

                <table>
                    <thead>
                        <tr>
                            <th>
                                Заголовок 1-го столбца
                            </th>
                            <th>
                                Заголовок 2-го столбца
                            </th>
                            <th>
                                Заголовок 3-го столбца
                            </th>
                            <th>
                                Заголовок 4-го столбца
                            </th>
                            <th>
                                Заголовок 5-го столбца
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Название строки
                            </td>
                            <td>
                                Крупнейший в Европе
                            </td>
                            <td>
                                Крупнейший в Европе
                            </td>
                            <td>
                                Крупнейший в Европе
                            </td>
                            <td>
                                Крупнейший в Европе
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Название строки
                            </td>
                            <td>
                                Официальный дистрибьютор LEGO Education в России
                            </td>
                            <td>
                                Официальный дистрибьютор LEGO Education в России
                            </td>
                            <td>
                                Официальный дистрибьютор LEGO Education в России
                            </td>
                            <td>
                                Официальный дистрибьютор LEGO Education в России
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Название строки
                            </td>
                            <td>
                                Партнер
                            </td>
                            <td>
                                Партнер
                            </td>
                            <td>
                                Партнер
                            </td>
                            <td>
                                Партнер
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Название строки
                            </td>
                            <td>
                                Партнер Всемирной олимпиады роботов WRO
                            </td>
                            <td>
                                Партнер Всемирной олимпиады роботов WRO
                            </td>
                            <td>
                                Партнер Всемирной олимпиады роботов WRO
                            </td>
                            <td>
                                Партнер Всемирной олимпиады роботов WRO
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Название строки
                            </td>
                            <td>
                                Фестиваль, ежегодно собирающий лучших участников в возрасте от 6 до 30 лет
                            </td>
                            <td>
                                Фестиваль, ежегодно собирающий лучших участников в возрасте от 6 до 30 лет
                            </td>
                            <td>
                                Фестиваль, ежегодно собирающий лучших участников в возрасте от 6 до 30 лет
                            </td>
                            <td>
                                Фестиваль, ежегодно собирающий лучших участников в возрасте от 6 до 30 лет
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2>Фотогалерея</h2>
                <div class="gallery-slider js-gallery-slider">
                    <div class="gallery-slider__main js-gallery-slider-main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <a href="https://youtube.com" class="gallery-slider__main-card-image-container">
                                            <div class="gallery-slider__main-card-image-size-wrapper">
                                                <img src="img/article/Slider.jpg" alt="Фотография в слайдере" class="gallery-slider__main-card-image" />
                                                <div class="gallery-slider__main-card-description">
                                                    Команда школьников Приволжского федерального округа
                                                </div>
                                            </div>
                                            <svg width="80" height="80" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="gallery-slider__thumb-hidden-container">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-container">
                                                <img src="img/gallery-slider/slide-photo-1.jpg" alt="Фотография превью слайда" class="gallery-slider__thumbs-card-image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <div class="gallery-slider__main-card-image-container">
                                            <div class="gallery-slider__main-card-image-size-wrapper">
                                                <img src="img/gallery-slider/annie-spratt-QckxruozjRg-unsplash.jpg" alt="Фотография в слайдере" class="gallery-slider__main-card-image" />
                                                <div class="gallery-slider__main-card-description">
                                                    Команда школьников Приволжского федерального округа
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gallery-slider__thumb-hidden-container">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-container">
                                                <img src="img/gallery-slider/slide-photo-2.jpg" alt="Фотография превью слайда" class="gallery-slider__thumbs-card-image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <a href="https://youtube.com" class="gallery-slider__main-card-image-container">
                                            <div class="gallery-slider__main-card-image-size-wrapper">
                                                <img src="img/article/Slider.jpg" alt="Фотография в слайдере" class="gallery-slider__main-card-image" />
                                                <div class="gallery-slider__main-card-description">
                                                    Команда школьников Приволжского федерального округа
                                                </div>
                                            </div>
                                            <svg width="80" height="80" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="gallery-slider__thumb-hidden-container">
                                        <div class="gallery-slider__thumbs-card">
                                            <div class="gallery-slider__thumbs-card-image-container">
                                                <img src="img/gallery-slider/slide-photo-1.jpg" alt="Фотография превью слайда" class="gallery-slider__thumbs-card-image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-slider__bottom-section">
                        <a href="#" class="gallery-slider__arrow js-gallery-slider-prev">
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </a>
                        <div class="gallery-slider__thumbs js-gallery-slider-thumbs">
                            <div class="swiper-container">
                                <div class="swiper-wrapper"></div>
                            </div>
                        </div>
                        <a href="#" class="gallery-slider__arrow js-gallery-slider-next">
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__footer">
                <div class="article__footer-row">
                    <div class="article__footer-info-table">
                        <table>
                            <tr>
                                <th>Дата:</th>
                                <td>12 ноября 2019</td>
                            </tr>
                            <tr>
                                <th>Категория:</th>
                                <td><a href="#">Новость</a></td>
                            </tr>
                            <tr>
                                <th>Автор:</th>
                                <td>Георгий Дмитриевич</td>
                            </tr>
                        </table>
                    </div>
                    <div class="article__footer-sharing">
                        <span class="article__footer-sharing-text">
                            Поделиться
                        </span>
                        <ul class="article__footer-sharing-list">
                            <li class="article__footer-sharing-list-item">
                                <a href="#" class="article__footer-sharing-link article__footer-sharing-link--vk">
                                    <svg width="22" height="12" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk" />
                                    </svg>
                                </a>
                            </li>
                            <li class="article__footer-sharing-list-item">
                                <a href="#" class="article__footer-sharing-link article__footer-sharing-link--fb">
                                    <svg width="10" height="20" aria-hidden="true" class="icon-fb">
                                        <use xlink:href="#fb" />
                                    </svg>
                                </a>
                            </li>
                            <li class="article__footer-sharing-list-item">
                                <a href="#" class="article__footer-sharing-link article__footer-sharing-link--ok">
                                    <svg width="12" height="20" aria-hidden="true" class="icon-ok">
                                        <use xlink:href="#ok" />
                                    </svg>
                                </a>
                            </li>
                            <li class="article__footer-sharing-list-item">
                                <a href="#" class="article__footer-sharing-link article__footer-sharing-link--twitter">
                                    <svg width="18" height="16" aria-hidden="true" class="icon-twitter">
                                        <use xlink:href="#twitter" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <section class="other-news">
            <h2 class="other-news__heading">
                Другие новости или статьи
            </h2>
            <ul class="other-news__list">
                <li class="other-news__list-item">
                    <a href="#" class="other-news__card">
                        <h4 class="other-news__title">Заголовок 4 к текстовой плитке одним предложением</h4>
                        <div class="other-news__card-row">
                            <span class="other-news__card-date">
                                12 ноября 2019
                            </span>
                            <ul class="other-news__tags-list">
                                <li class="other-news__tags-list-item">
                                    <div class="other-news__tags-name">
                                        Категория
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li class="other-news__list-item">
                    <a href="#" class="other-news__card">
                        <h4 class="other-news__title">Заголовок 4 к текстовой плитке одним предложением</h4>
                        <div class="other-news__card-row">
                            <span class="other-news__card-date">
                                12 ноября 2019
                            </span>
                            <ul class="other-news__tags-list">
                                <li class="other-news__tags-list-item">
                                    <div class="other-news__tags-name">
                                        Категория
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <div class="layout-sidebar">
        <a href="#" class="announcement">
            <div class="announcement__image-container">
                <img src="img/announcement/announcement-card-image-1.jpg" alt="Картинка карточки анонса" class="announcement__image" />
            </div>
            <div class="announcement__text-content">
                <h6 class="announcement__title">
                    Заголовок 6 к боковому баннеру
                </h6>
                <span class="announcement__btn">
                    Перейти
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-right-no-circle">
                        <use xlink:href="#arrow-right-no-circle" />
                    </svg>
                </span>
            </div>
        </a>
        <a href="#" class="announcement">
            <div class="announcement__text-content">
                <h6 class="announcement__title">
                    Заголовок 6 к боковому баннеру
                </h6>
                <ul>
                    <li>Подпункт один</li>
                    <li>Подпункт два</li>
                    <li>Подпункт три</li>
                </ul>
                <span class="announcement__btn">
                    Перейти
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-right-no-circle">
                        <use xlink:href="#arrow-right-no-circle" />
                    </svg>
                </span>
            </div>
        </a>
        <a href="#" class="announcement announcement--configure">
            <div class="announcement__image-container">
                <img src="img/announcement/announcement-configure.png" alt="Картинка карточки анонса" class="announcement__image" />
            </div>
            <div class="announcement__text-content">
                <h6 class="announcement__title">
                    Сконфигурируйте собственное оборудование
                </h6>
                <p>Воспользуйтесь нашим конфигуратором</p>
                <span class="announcement__btn">
                    
                    <svg width="32" height="32" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </span>
            </div>
        </a>
    </div>
</div>

{% endblock %}
