{% set title = "Главная страница" %} {% extends "layout_new.html" %} {% block content %}

<section class="product js-services js-intro">
    
    <div class="product__content">
        <div class="product__header container">
            <h1 class="product__title">Решения ICL для национальных проектов России</h1>
            <span class="product__subtitle">Участник национальной программы 2019—2024</span>
        </div>
        <div class="bg-layers js-bg-layers">
            <div class="bg-layers-base-bg">
                <img src="img/bg-layers-base.jpg" alt="">
            </div>
        </div>
        
        
        <div class="product__inner">
            <div class="bg-layers__item js-intro-bg-layer"><img src="img/bg-layer-2.jpg" alt=""></div>
            <div class="bg-layers__item js-intro-bg-layer"><img src="img/bg-layer-1.jpg" alt=""></div>
            <div class="product__nav">
                <div class="product__wrapper">
                    <a href="#" class="js-services-card js-hoverable-link">
                        <h2 class="product__link">Образование</h2>
                        <svg>
                            <use xlink:href="#arrow-down"/>
                        </svg>
                        <div class="intro-slider__slide-bg-content intro-slider__slide-bg-content--type-2">
                            <div class="brick-1"></div>
                            <div class="brick-2"></div>
                            <div class="brick-3"></div>
                            <div class="brick-4"></div>
                            <div class="brick-5"></div>
                            <div class="brick-6"></div>
                            <div class="brick-7"></div>
                            <div class="brick-8"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product__nav">
                <a href="#" class="js-services-card js-hoverable-link">
                    <h2 class="product__link">Здравоохранение</h2>
                    <svg>
                        <use xlink:href="#arrow-down"/>
                    </svg>
                    <div class="intro-slider__slide-bg-content intro-slider__slide-bg-content--type-2">
                        <div class="brick-1"></div>
                        <div class="brick-2"></div>
                        <div class="brick-3"></div>
                        <div class="brick-4"></div>
                        <div class="brick-5"></div>
                        <div class="brick-6"></div>
                        <div class="brick-7"></div>
                        <div class="brick-8"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>




{% endblock %}