{% set title = "Главная страница" %} {% extends "layout_new.html" %} {% block content %}

<section class="product-header">
    <img src="/img/eagle.png" alt="eagle">
    <div class="container">
        <h1>Национальные решения ICL для образования</h1>
        <p>Базовая модель, настольный компьютер начального уровня. Наиболее востребованная модель у корпоративных
            пользователей для работы с документами, почтой и различными</p>
    </div>
</section>
<div class="container">
    <section class="product-main">
        <div class="product-block">
            <div class="product-block__slider">
                <div class="product-block__image">
                    <div class="product__switch image-switch">
                        <div class="image-switch__item">
                            <div class="image-switch__img"><img src="img/notebook.png" alt="Ноутбук"></div>
                        </div>
                        <div class="image-switch__item">
                            <div class="image-switch__img"><img src="img/notebook-2.png" alt="Ноутбук"></div>
                        </div>
                        <div class="image-switch__item">
                            <div class="image-switch__img"><img src="img/notebook-3.png" alt="Ноутбук"></div>
                        </div>
                    </div>
                    <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                </div>

            </div>
            <div class="product-block__content">
                <h2>Ноутбук учителя</h2>
                <p>Производство расположено на собственном Заводе вычислительной техники мощностью до 300 000 изделий
                    в год.
                    Все линейки компьютерной техники ICL находятся</p>
                    <a href="#" class="js-popap" data-izimodal-open="#modal" data-izimodal-transitionin="fadeInDown">Читать полностью</a>
                <div class="product-block__btn">
                    <div class="product-block__btn-link btn-with-corners">Запросить ТЗ</div>
                    <div class="product-block__btn-link product-block__btn-inquiry btn-with-corners">Запросить КП</div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="product-main">
        <div class="product-block product-block-reverse">
            <div class="product-block__slider">
                <img src="/img/kids_bg.png" alt="kids_bg">
            </div>
            <div class="product-block__content">
                <h2>Ноутбук учителя</h2>
                <p>Производство расположено на собственном Заводе вычислительной техники мощностью до 300 000 изделий
                    в год.
                    Все линейки компьютерной техники ICL находятся</p>
                <a href="#" class="js-popap" data-izimodal-open="#modal" data-izimodal-transitionin="fadeInDown">Читать полностью</a>
                <div class="product-block__btn">
                    <div class="product-block__btn-link btn-with-corners">Запросить ТЗ</div>
                    <div class="product-block__btn-link product-block__btn-inquiry btn-with-corners">Запросить КП</div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="product-main">
        <div class="product-block">
            <div class="product-block__slider">
                <img src="/img/job_bg.png" alt="job_bg">
            </div>
            <div class="product-block__content">
                <h2>Ноутбук учителя</h2>
                <p>Производство расположено на собственном Заводе вычислительной техники мощностью до 300 000 изделий
                    в год.
                    Все линейки компьютерной техники ICL находятся</p>
                <a href="#" class="js-popap" data-izimodal-open="#modal" data-izimodal-fullscreen="">Читать полностью</a>
                <div class="product-block__btn">
                    <div class="product-block__btn-link btn-with-corners">Запросить ТЗ</div>
                    <div class="product-block__btn-link product-block__btn-inquiry btn-with-corners">Запросить КП</div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="completed-projects">
        <div class="completed-projects__title">
            <h2>Реализованные проекты</h2>
            <a href="#" class="product-block__btn-link btn-with-corners">Смотреть все</a>
        </div>
        <div class="completed-projects__slider">
            <div class="completed-projects__slider-prev">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow__left" />
                </svg>
            </div>
            <div class="completed-projects__slider-next">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow__right" />
                </svg>
            </div>
            <div class="swiper-container">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <li class="realised-projects__list-item" data-category="gov" data-year="2019">
                            <a href="#text-modal" class="realised-projects__card js-modal-open">
                                <span class="realised-projects__card-top-row">
                                    <span class="realised-projects__card-label-group">
                                        <span class="realised-projects__card-label">
                                            госсектор
                                        </span>
                                        <span class="realised-projects__card-date">
                                            22.05.2019
                                        </span>
                                    </span>

                                    <img src="img/rostelecom-logo.svg" alt="Логотип аэрофлота"
                                        class="realised-projects__company-logo" />
                                </span>
                                <span class="realised-projects__content">
                                    <span class="realised-projects__title">
                                        Мобильный оператор Ростелеком
                                    </span>
                                    <span class="realised-projects__paragraph">
                                        Предоставляем комплексные решения в области информационных технологий и услуги
                                        по консалтингу, проектированию,
                                    </span>
                                </span>
                                <span class="realised-projects__corner">
                                    <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                        <use xlink:href="#arrow-right-no-circle" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li class="realised-projects__list-item" data-category="gov" data-year="2020">
                            <a href="#text-modal" class="realised-projects__card js-modal-open">
                                <span class="realised-projects__card-top-row">
                                    <span class="realised-projects__card-label-group">
                                        <span class="realised-projects__card-label">
                                            госсектор
                                        </span>
                                        <span class="realised-projects__card-date">
                                            22.05.2020
                                        </span>
                                    </span>

                                    <img src="img/rostelecom-logo.svg" alt="Логотип аэрофлота"
                                        class="realised-projects__company-logo" />
                                </span>
                                <span class="realised-projects__content">
                                    <span class="realised-projects__title">
                                        Центральный банк Российской Федерации
                                    </span>
                                    <span class="realised-projects__paragraph">
                                        Предоставляем комплексные решения в области информационных технологий и услуги
                                        по консалтингу, проектированию,
                                    </span>
                                </span>
                                <span class="realised-projects__corner">
                                    <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                        <use xlink:href="#arrow-right-no-circle" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </div>
                    <div class="swiper-slide">
                        <li class="realised-projects__list-item" data-category="gov" data-year="2019">
                            <a href="#text-modal" class="realised-projects__card js-modal-open">
                                <span class="realised-projects__card-top-row">
                                    <span class="realised-projects__card-label-group">
                                        <span class="realised-projects__card-label">
                                            госсектор
                                        </span>
                                        <span class="realised-projects__card-date">
                                            22.05.2019
                                        </span>
                                    </span>

                                    <img src="img/rostelecom-logo.svg" alt="Логотип аэрофлота"
                                        class="realised-projects__company-logo" />
                                </span>
                                <span class="realised-projects__content">
                                    <span class="realised-projects__title">
                                        Мобильный оператор Ростелеком
                                    </span>
                                    <span class="realised-projects__paragraph">
                                        Предоставляем комплексные решения в области информационных технологий и услуги
                                        по консалтингу, проектированию,
                                    </span>
                                </span>
                                <span class="realised-projects__corner">
                                    <svg width="25" height="14" aria-hidden="true" class="icon-arrow-right-no-circle">
                                        <use xlink:href="#arrow-right-no-circle" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="callback" style="background-image: url('img/icl-bg.jpg');">
        <div class="callback__row">
            <div class="callback__left-column">
                <div class="callback__content default-content">
                    <h3>
                        Нужна помощь?
                    </h3>
                    <p>
                        Звоните нашим специалистам 8 800 555-55-55 или задайте свой вопрос через форму.
                    </p>
                    <ul>
                        <li>Информационные материалы по всей линейке продукции</li>
                        <li>Демо-комплекты оборудования</li>
                        <li>Участие специалистов ICL в ваших мероприятиях для заказчиков</li>
                    </ul>
                </div>
            </div>
            <div class="callback__right-column">
                <form action="/" method="POST" class="callback__form" data-parsley-validate>
                    <div class="callback__form-input-group">
                        <input type="text" class="callback__form-input" name="name" placeholder="Имя и фамилия"
                            required />
                    </div>
                    <div class="callback__form-input-group">
                        <input type="email" class="callback__form-input" name="email" placeholder="Электронная почта"
                            required />
                    </div>
                    <div class="callback__form-input-group">
                        <textarea class="callback__form-textarea" name="comment" placeholder="Комментарий"
                            required></textarea>
                    </div>
                    <span class="callback__form-policy"> Я согласен с <a href="#">политикой конфиденциальности</a>
                    </span>
                    <button type="submit" class="btn-with-corners callback__form-submit">
                        Узнать стоимость
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- <div id="modal" class="popap">
    <div class="popap-overlay">
        
    </div>
</div> -->
<div id="modal" class="modal" data-iziModal-fullscreen="true" data-iziModal-icon="icon-home">
    <div class="popap-window">
        <div class="product-block__slider">
            <div class="image-switch__img"><img src="img/notebook.png" alt="Ноутбук"></div>
        </div>
        <div class="product-block__content">
            <h2>Ноутбук учителя</h2>
            <p>Производство расположено на собственном Заводе вычислительной техники мощностью до 300 000 изделий
                в год.
                Все линейки компьютерной техники ICL находятся</p>
            <ul class="tabs-block__tabs-list js-tabs-list">
                <li class="tabs-block__tabs-item">
                    <section class="specs">
                        <div class="specs__table">
                            <table>
                                <tr>
                                    <th>
                                        Процессор
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            Intel Celeron
                                        </span>
                                        <span class="specs__table-item">
                                            Intel Pentium
                                        </span>
                                        <span class="specs__table-item">
                                            Intel Core i3 8-го поколения
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Набор микросхем
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            Intel H310 Express
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Оперативная память
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            2 слота DDR4 DIMM
                                        </span>
                                        <span class="specs__table-item">
                                            Поддержка до 32 ГБ DDR4 2400 МГц
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Видеоконтроллер
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            Intel HD Graphics (встроен в процессор)
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Звуковая карта
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            Интегрированный HD-кодек
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Накопители информации
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            Поддержка до 4 устройств SATA-III
                                        </span>
                                        <span class="specs__table-item">
                                            Поддержка 1 устройства M.2
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Сетевой контроллер
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            10/100/1000 Мб/с Gigabit Ethernet
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Слоты расширения
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            1 x PCI-E x16
                                        </span>
                                        <span class="specs__table-item">
                                            1 x PCI-E x1
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Порты ввода-вывода на задней панели
                                    </th>
                                    <td>
                                        <span class="specs__table-item">
                                            1 x RJ45
                                        </span>
                                        <span class="specs__table-item">
                                            4 x USB 2.0
                                        </span>
                                        <span class="specs__table-item">
                                            2 x USB 3.1
                                        </span>
                                        <span class="specs__table-item">
                                            1 x VGA
                                        </span>
                                        <span class="specs__table-item">
                                            1 x HDMI
                                        </span>
                                        <span class="specs__table-item">
                                            1 x DVI-D Звуковые гнезда (3 шт.)
                                        </span>
                                        <span class="specs__table-item">
                                            2 x PS/2
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </li>
            </ul>
            <div class="product-block__btn">
                <div class="product-block__btn-link btn-with-corners">Запросить ТЗ</div>
                <div class="product-block__btn-link product-block__btn-inquiry btn-with-corners">Запросить КП</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}