{% set title = "Сервисные центры" %} {% set headerColor = "white" %} {% set activePage = "support" %} {% extends "layout.html" %} {% block content %}

<section class="navigation-standalone">
    <div class="main-nav__submenu-content main-nav__submenu-content--standalone">
        <ul class="main-nav__submenu-list">
            <li class="main-nav__submenu-list-item active">
                <a href="#" class="main-nav__submenu-link">
                    Сервисные центры
                </a>
            </li>
            <li class="main-nav__submenu-list-item">
                <a href="#" class="main-nav__submenu-link">
                    Драйверы
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="services">
    <h2 class="services__heading">
        Сервисные центры
    </h2>
    <div class="services__description default-content">
        <p>
            Пользователи компьютерной техники ICL по всей территории России обеспечены оперативной сервисной поддержкой и гарантийным обслуживанием. В качестве региональных сервисных центров авторизовано более 100 профессиональных ИТ-компаний.
        </p>
        <p>
            <b>Телефон горячей линии:</b> <b><a href="tel:+78003337840">8 800 333-78-40</a></b>
        </p>
        <p>
            <b>Эл. почта:</b> <b><a href="mailto:support@icl.ru">support@icl.ru</a></b>
        </p>
    </div>
    <div class="services__row">
        <img src="img/services/map.jpg" alt="Карта с городами" class="services__map" />
        <div class="services__left-column">
            <div class="services__cities">
                <div class="services__cities-column">
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            А
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Абакан</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Архангельск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Астрахань</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Б
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Барнаул</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Белгород</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Бийск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Благовещенск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Брянск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Бугульма</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            В
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Великий Новгород</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Владивосток</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Владикавказ</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Владимир</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Волгоград</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Воронеж</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Г
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Грозный</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Е
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Екатеринбург</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            З
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Заинск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Зеленодольск</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="services__cities-column">
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            И
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Иваново</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Ижевск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Йошкар-Ола</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            К
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Казань</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Калининград</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Калуга</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Кемерово</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Киров</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Кострома</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Кукмор, пос.</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Курган</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Курск</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Л
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Липецк</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            М
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Майкоп</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Махачкала</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Москва</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Мурманск</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Н
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Набережные Челны</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Нальчик</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Нижнекамск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Нижний Новгород</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Новокузнецк</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Новороссийск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Новосибирск</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="services__cities-column">
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            О
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Орел</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Оренбург</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            П
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Пенза</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Пермь</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Петрозаводск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Петропавловск-камчатский</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Псков</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Пятигорск</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Р
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Ростов-на-дону</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Рязянь</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            С
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Самара</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Саранск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Саратов</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Симферополь</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Смоленск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Сочи</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Ставрополь</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Сургут</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Сыктывкар</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="services__cities-column">
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Т
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Тамбов</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Тверь</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Тольятти</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Томск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Тула</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Тюмень</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            У
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Улан-Удэ</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Ульяновск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Уфа</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Х
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Хабаровск</a>
                            </li>
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Ханты-Мансийск</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Э
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Элиста</a>
                            </li>
                        </ul>
                    </div>
                    <div class="services__cities-block">
                        <div class="services__cities-letter">
                            Я
                        </div>
                        <ul class="services__cities-list">
                            <li class="services__cities-list-item">
                                <a href="#" class="services__cities-link">Якутск</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="services__right-column">
            <div class="services__city-card">
                <div class="services__city-card-image-container">
                    <img src="img/services/city-card.jpg" alt="Фотография города" class="services__city-card-image" />
                </div>
                <div class="services__city-card-content">
                    <h4 class="section-header services__city-card-name">
                        астрахань
                    </h4>
                    <h3 class="services__city-card-header">
                        Астраханское представительство «АйСиЭл Сервисез»
                    </h3>
                    <div class="services__city-card-info">
                        <p>
                            Стать партнером компании «ICL Техно» просто и выгодно. Для получения статуса партнера необходимо выполнить следующие 4 шага:
                        </p>
                    </div>
                    <ul class="services__city-card-list">
                        <li class="services__city-card-list-item">
                            <div class="services__city-card-item-content">
                                <p>
                                    <b>Представитель:</b>
                                </p>
                                <p>
                                    Храмова Светлана доб.138
                                </p>
                            </div>
                        </li>
                        <li class="services__city-card-list-item">
                            <div class="services__city-card-item-content">
                                <p>
                                    <b>Адрес:</b>
                                </p>
                                <p>
                                    Красная Набережная, 37
                                </p>
                                <p>
                                    <a href="#">Смотреть на карте</a>
                                </p>
                            </div>
                        </li>
                        <li class="services__city-card-list-item">
                            <div class="services__city-card-item-content">
                                <p>
                                    <b>Телефон:</b>
                                </p>
                                <p>
                                    (8512)51-57-54, 51-67-35(факс)
                                </p>
                            </div>
                        </li>
                        <li class="services__city-card-list-item">
                            <div class="services__city-card-item-content">
                                <p>
                                    <b>Сайт партнера:</b>
                                </p>
                                <p>
                                    <a href="service@tf-tan.ru"> service@tf-tan.ru</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn-with-corners services__city-card-btn">Отправить заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="callback" style="background-image: url('img/icl-bg.jpg');">
    <div class="callback__row">
        <div class="callback__left-column">
            <div class="callback__content default-content">
                <h3>
                    Нужна помощь?
                </h3>
                <p>
                    Звоните нашим специалистам 8 800 555-55-55 или задайте свой вопрос через форму.
                </p>
                <ul>
                    <li>Информационные материалы по всей линейке продукции</li>
                    <li>Демо-комплекты оборудования</li>
                    <li>Участие специалистов ICL в ваших мероприятиях для заказчиков</li>
                </ul>
            </div>
        </div>
        <div class="callback__right-column">
            <form action="/" method="POST" class="callback__form" data-parsley-validate>
                <div class="callback__form-input-group">
                    <input type="text" class="callback__form-input" name="name" placeholder="Имя и фамилия" required />
                </div>
                <div class="callback__form-input-group">
                    <input type="email" class="callback__form-input" name="email" placeholder="Электронная почта" required />
                </div>
                <div class="callback__form-input-group">
                    <textarea class="callback__form-textarea" name="comment" placeholder="Комментарий" required></textarea>
                </div>
                <span class="callback__form-policy"> Я согласен с <a href="#">политикой конфиденциальности</a> </span>
                <button type="submit" class="btn-with-corners callback__form-submit">
                    Узнать стоимость
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
