.about-company-detailed {
    margin: 100px 0;
    @include breakpoint(tablet) {
        margin: 80px 0;
    }
    @include breakpoint(small-tablet) {
        margin: 50px 0;
    }
}


.about-company-detailed__block-heading {
    margin-bottom: 20px;
}


.about-company-detailed__row {
    display: flex;
    @include breakpoint(tablet) {
        flex-direction: column;
    }
}


.about-company-detailed__content-column {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(tablet) {
        width: 100%;
    }
}


.about-company-detailed__image-column {
    width: 300px;
    flex-shrink: 0;
    margin-left: 85px;
    @include breakpoint(laptop) {
        margin-left: 50px;
    }
    @include breakpoint(tablet) {
        display: none;
    }
}


.about-company-detailed__image {
    width: 100%;
    max-width: none;
    height: auto;
    display: block;
}