


.application {

}

.application__heading {
    font-size: 40px;
    margin-bottom: 60px;
    @include breakpoint(mobile) {
        font-size: 28px;
    }
}

.application__announcement {
    display: block;
    border: 1px solid #D0D0D0;
    position: relative;
    padding: 25px;
    padding-left: 28px;
    border-left: none;
    margin-bottom: 55px;
    margin-top: 55px;
    &::before {
        content: '';
        width: 4px;
        left: 0;
        top: -1px;
        bottom: -1px;
        background-color: $red;
        position: absolute;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }


    p {
        margin-bottom: 25px;
        line-height: 1.5;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        &:link,
        &:visited {
            color: $red;
        }


        .no-touch &:hover,
        .touch &:active {
            text-decoration: underline;
        }
    }
}



.application__form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.application__form-label {
    display: flex;
    align-items: flex-start;
   
}


.application__form-label-text {
    font-family: $proxima;
    font-size: 20px;
    max-width: 232px;
    width: 100%;
    margin-top: 12px;
    padding-right: 20px;
}

.application__form-input-wrapper {
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    .parsley-errors-list {
        margin: 0;
        margin-left: 20px;
        font-family: $proxima;
        font-size: 12px;
    }
}






.application__form-input {
    max-width: 420px;
    width: 100%;
    border: 1px solid black;
    background: transparent;
    color: black;
    font: inherit;
    font-family: $proxima;
    font-size: 20px;
    padding: 12px 15px;
    outline: none;
    transition: box-shadow .2s, border-color .2s;
    &:focus {
        border-color: $red;
        box-shadow: 0px 7px 24px rgba(#FB0D1B, .12);
    }


    &.parsley-error {
        border-color: $red;
        box-shadow: 0px 7px 24px rgba(#FB0D1B, .12);
    }
}



.application__form-remark {
    width: 100%;
    max-width: 420px;
    font-family: $proxima;
    font-size: 12px;
    margin-top: 7px;
    color: #BABABA;
}


.application__form-submit {
    margin-left: auto !important;
    align-self: flex-end;
    display: block;
}