.bg-layers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc((100vw - 100%) / 2 * -1);
    right: calc((100vw - 100%) / 2 * -1);
    z-index: -1;
    
    &__item {
        position: absolute;
        top: 0;
        left: calc((100vw - 100%) / 2 * -1);
        right: calc((100vw - 100%)/2 * -1);
        bottom: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
       
        &.active {
            opacity: 1;
            visibility: visible;
            transition: 0.8s;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-base-bg {
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            @include breakpoint(mobile) {
                object-fit: cover;
                object-position: -420px;
            }
        }
    }   
}
