.burger-menu {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet) {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100% - 100px);
        background-color: #fff;
        margin-right: 0;
        padding: 0 $desktop-content-padding;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s, visibility 0s linear .2s;
        display: block;


        .burger-menu-shown & {
            transition: opacity .2s, visibility .2s;
            opacity: 1;
            visibility: visible;
        }
    }

    @include breakpoint(mobile) {
        padding: 0 $mobile-content-padding;
    }


    @include breakpoint(small-mobile) {
        padding: 0 $small-mobile-content-padding;
    }

    
}


.burger-menu-open {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    align-self: center;
    display: none;
    @include breakpoint(tablet) {
        display: flex;
    }
    .page-header.fixed &,
    .page-header--white &,
    .page-header--light &,
    .no-touch .page-header:hover & {
        > span {
            background-color: black;
        }
    }
    > span {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 6px;
        transition: background-color .3s, transform .3s, opacity .3s;
        &:last-child {
            margin-bottom: 0;
        }
    }


    .burger-menu-shown & {
        > span {
            background-color: $red !important;
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}



.burger-menu__search-form {
    display: flex;
    border: 1px solid #D0D0D0;
    align-items: center;
    width: 100%;
    display: none;
    margin-top: 40px;
    @include breakpoint(tablet) {
        display: flex;
    }
}


.burger-menu__form-input {
    font: inherit;
    color: black;
    font-size: 16px;
    padding: 15px 24px;
    width: 50%;
    flex-grow: 1;
    border: none;
    outline: none;
    padding-right: 0;
    @include placeholder {
        color: #999999;
        font-size: 16px;
    }
}


.burger-menu__form-submit {
    margin-right: 15px;
    margin-left: 15px;
    outline: none;
    margin-top: 4px;
    svg {
        fill: #D0D0D0;
    }
}



.burger-menu__row {
    display: none;
    margin-top: 25px;
    @include breakpoint(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(supersmall-mobile) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: initial;
        .btn-with-corners {
            align-self: flex-start;
            margin-top: 20px;
        }
    }
}


.burger-menu__phone-link {
    font-size: 16px;
    line-height: 22px;
    color: black;
    font-weight: 700;
    &:link,
    &:visited {
        color: black;
    }
}



.burger-menu__social-list {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 75px;
    @include breakpoint(tablet) {
        display: flex;
    }

    @include breakpoint(supersmall-mobile) {
        justify-content: flex-start;
    }
}


.burger-menu__social-list-item {
    margin-right: 24px;
    
}


.burger-menu__social-link {
    display: block;
    svg {
        fill: $red;
        transition: fill .2s;
        display: block;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: $red-hover;
        }
    }
}