.catalog-links {
    margin-bottom: 100px;
    @include breakpoint(tablet) {
        margin-bottom: 80px;
    }
    @include breakpoint(small-tablet) {
        margin-bottom: 50px;
    }
}


.catalog-links__row {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}


.catalog-links__column {
    padding: 14px;
    width: 50%;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        width: 100%;
    }
}


.catalog-links__link {
    color: black;
    padding-top: 20px;
    border-top: 4px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    transition: border-color .3s;
    flex-grow: 1;
    @include breakpoint(mobile) {
        padding-right: 70px;
    }
    &:link,
    &:visited {
        color: black;
    }
    > svg {
        fill: #D8D8D8;
        margin-left: auto;
        margin-right: 35px;
        transition: fill .3s;
        margin-top: auto;
        @include breakpoint(mobile) {
            margin-right: -70px;
            margin-top: -50px;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        border-color: $red;
        > svg {
            fill: $red;
        }
    }
}


.catalog-links__type {
    display: block;
}


.catalog-links__text {
    font-size: 32px;
    line-height: 1.375;
    font-weight: 700;
    display: block;
    width: 70%;
    margin-top: 18px;
    @include breakpoint(laptop) {
        font-size: 28px;
    }
    @include breakpoint(small-tablet) {
        font-size: 20px;
        margin-top: 10px;
        width: auto;
    }
}