.catalog {
    margin: 100px 0;
    @include breakpoint(tablet) {
        margin: 80px 0;
    }
    @include breakpoint(small-tablet) {
        margin: 50px 0;
    }
}

.catalog__list {
    margin: -20px -45px;
    display: flex;
    flex-wrap: wrap;
}

.catalog__list-item {
    width: 25%;
    padding: 20px 45px;
    display: flex;
    flex-direction: column;
    @include breakpoint(laptop) {
        width: 33.33%;
    }

    @include breakpoint(small-tablet) {
        width: 50%;
    }
    @include breakpoint(small-mobile) {
        width: 100%;
    }
}

.catalog__product-card {
    display: flex;
    flex-direction: column;
    @include breakpoint(small-mobile) {
        flex-direction: row;
        align-items: flex-start;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        .catalog__product-corner {
            &::before {
                transform: scale(1);
            }

            > svg {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.catalog__product-image-width-wrapper {
    width: 70%;
    margin: 0 auto;
    flex-shrink: 0;
    @include breakpoint(small-mobile) {
        width: 70px;
        height: 70px;
        margin: 0;
        margin-right: 30px;
        margin-top: 10px;
    }
}

.catalog__product-image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 25px;
    @include breakpoint(small-mobile) {
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.catalog__product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include objectFitContainBottom();
    @include breakpoint(small-mobile) {
        @include objectFitContain();
        position: static;
    }
}

.catalog__product-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
    @include breakpoint(small-mobile) {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
}

.catalog__product-description {
    font-family: $proxima;
    font-size: 16px;
    margin-bottom: 15px;
    @include breakpoint(small-mobile) {
        font-size: 14px;
        margin-bottom: 10px;
    }

    ul, ol {
        list-style: none;
        li {
            padding-left: 25px;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: #fb0d1b;
                position: absolute;
                left: 0;
                top: 5px;
                border-radius: 50%;
            }
        }
    }
}

.catalog__product-specs-list {
    ul {
        list-style: none;
        li {
            padding-left: 25px;
            font-size: 16px;
            position: relative;
            font-family: $proxima;
            margin-bottom: 10px;
            color: #bababa;
            @include breakpoint(mobile) {
                font-size: 16px;
            }
            @include breakpoint(small-mobile) {
                font-size: 14px;
                margin-bottom: 5px;
                padding-left: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: $red;
                position: absolute;
                left: 0;
                top: 5px;
                border-radius: 50%;
                @include breakpoint(small-mobile) {
                    width: 6px;
                    height: 6px;
                    top: 5px;
                }
            }
        }
    }
}

.catalog__product-corner {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -20px;
    box-sizing: border-box;
    @include breakpoint(small-mobile) {
        display: none;
    }
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 120px solid transparent;
        border-bottom: 120px solid $red;
        transform-origin: right bottom;
        transform: scale(0);
        transition: transform 0.2s;
    }
    > svg {
        fill: white;
        width: 25px;
        height: 14px;
        position: absolute;
        right: 24px;
        bottom: 28px;
        z-index: 30;
        opacity: 0;
        transform: translateX(-30px);
        transition: opacity 0.2s, transform 0.2s;
    }
}
