.ceo {
    @include section();
}

.ceo__heading {
    font-size: 32px;
    margin-bottom: 40px;
    @include breakpoint(mobile) {
        font-size: 24px;
        margin-bottom: 20px;
    }
}


.ceo__list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    @include breakpoint(mobile) {
        margin: -8px;
    }
}


.ceo__list-item {
    width: 25%;
    padding: 12px;
    @include breakpoint(laptop) {
        width: 33.33%;
    }
    @include breakpoint(mobile) {
        width: 50%;
        padding: 8px;
    }
    // @include breakpoint(small-mobile) {
    //     width: 100%;
    // }
}


.ceo__card {
    color: white;
    position: relative;
}

.ceo__card-image-container {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(black, .5), rgba(black, 0) 40%);
    }
    &::after {
        content: '';
        display: block;
        padding-bottom: 126%;
    }
}


.ceo__card-image {
   
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
    z-index: 1;
}


.ceo__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px;
    z-index: 5;
    @include breakpoint(small-tablet) {
        padding: 30px;
    }
    @include breakpoint(mobile) {
        padding: 20px;
    }
}


.ceo__content-name {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    @include breakpoint(mobile) {
        font-size: 16px;
    }
}


.ceo__content-role {
    font-family: $proxima;
    font-size: 16px;
    margin-top: 8px;
    @include breakpoint(mobile) {
        font-size: 14px;
    }
}