.default-content {
    > h1 {
        font-size: 40px;
        @include breakpoint(mobile) {
            font-size: 28px;
        }
    }

    > h2 {
        font-size: 32px;
        @include breakpoint(mobile) {
            font-size: 24px;
        }
    }

    > h3 {
        font-size: 24px;
        @include breakpoint(mobile) {
            font-size: 20px;
        }
    }

    > h4 {
        font-size: 20px;
        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    & > h5,
    & > h6 {
        font-size: 16px;
        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        margin-bottom: .5em;
    }

    > p {
        font-family: $proxima;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 1em;
        > a {
            display: inline;
            color: $red;

            &:link,
            &:visited {
                color: $red;
            }

            .no-touch &:hover,
            .touch &:active {
                text-decoration: underline;
            }
        }
        @include breakpoint(small-mobile) {
            font-size: 16px;
        }
    }

    > ul {
        list-style: none;
        margin-bottom: 40px;
        margin-top: 20px;
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        li {
            padding-left: 25px;
            font-size: 20px;
            position: relative;
            font-family: $proxima;
            margin-bottom: 10px;
            @include breakpoint(mobile) {
                font-size: 16px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: $red;
                position: absolute;
                left: 0;
                top: 9px;
                border-radius: 50%;
            }
        }
    }

    > ol {
        list-style: none;
        margin-bottom: 40px;
        margin-top: 20px;
        counter-reset: ordered-list;
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        li {
            padding-left: 25px;
            font-size: 20px;
            position: relative;
            font-family: $proxima;
            margin-bottom: 10px;
            counter-increment: ordered-list;
            @include breakpoint(mobile) {
                font-size: 16px;
            }
            &::before {
                content: counter(ordered-list) '. ';
                font-weight: 900;
                font-size: 16px;
                color: $red;
                position: absolute;
                top: 4px;
                left: 0;
                @include breakpoint(mobile) {
                    top: 1px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    > blockquote {
        padding-left: 32px;
        display: block;
        font-size: 26px;
        line-height: 1.35;
        position: relative;
        font-family: $proxima;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        @include breakpoint(tablet) {
            font-size: 22px;
        }
        @include breakpoint(small-mobile) {
            font-size: 18px;
        }
        &::before {
            content: '';
            left: 0;
            height: 100%;
            top: 0;
            width: 4px;
            position: absolute;
            background-color: $red;
        }
    }


    .show-all-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 55px;
        @include breakpoint(mobile) {
            margin-bottom: 20px;
        }
    }

    .show-all-btn__link {
        color: $red;
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        
        > svg {
            fill: $red;
            margin-left: 8px;
        }
        &:link,
        &:visited {
            color: $red;
        }


        .no-touch &:hover,
        .touch &:active {
            text-decoration: underline;
        }
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > p,
    & > blockquote {
        &:empty {
            display: none;
        }
        &:last-child {
            // margin-bottom: 0;
        }
    }

    > .btn-with-corners {
        margin-top: 20px;
        @include breakpoint(small-mobile) {
            margin-top: 10px;
        }
    }

    > .image-block:not(.image-block--floated) {
        margin-bottom: 55px;
        margin-top: 55px;
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
