.documents {
    margin: 100px 0;
    @include breakpoint(tablet) {
        margin: 80px 0;
    }
    @include breakpoint(small-tablet) {
        margin: 50px 0;
    }


    .swiper-container {
        overflow: initial;
    }

    .swiper-slide {
        height: auto;
        box-sizing: border-box;
        width: 40%;
        @include breakpoint(small-mobile) {
            width: 60%;
        }
    }
}


.documents__heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    @include breakpoint(mobile) {
        font-size: 24px;
    }
}


.documents__subheading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    @include breakpoint(mobile) {
        font-size: 20px;
    }
}


.documents__list {
    display: flex;
    flex-wrap: wrap;
    margin: -22px -32px;
    @include breakpoint(laptop) {
        margin: -22px;
    }
}


.documents__list-item {
    padding: 22px 32px;
    width: 20%;
    @include breakpoint(laptop) {
        padding: 22px;
        width: 25%;
    }
}


.documents__card {
    display: flex;
    flex-direction: column;
    &:link,
    &:visited {
        color: black;
    }


    .no-touch &:hover,
    .touch &:active {
        .documents__card-title-text {
            border-color: $red;
        }
    }
}


.documents__image {
    display: block;
    margin-bottom: 15px;
    .documents__card--instruction & {
        box-shadow: 5px -5px 0 #E3E3E3, 10px -10px 0 #F3F3F3;
    }
}


.documents__card-title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 5px;
    color: $red;
}


.documents__card-title-text {
    display: inline;
    border-bottom: 1px solid rgba($red, .1);
    transition: border-color .2s;
}


.documents__card-size {
    color: #D0D0D0;
    font-size: 12px;

}