.btn-with-corners {
    font-size: 16px;
    line-height: 1.3;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    background-color: $red;
    color: white;
    align-self: center;
    transition: 0.2s;
    clip-path: polygon(0px 10px, 10px 0px, 100% 0px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%);
    transition: clip-path 0.3s, background-color 0.3s;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        clip-path: polygon(0px 0px, 0px 0px, 100% 0px, 100% 100%, 100% 100%, 0% 100%);
        background-color: $red-hover;
    }

    &--white {
        background-color: #fff;
        color: black;
        &:link,
        &:visited {
            color: black;
        }

        .no-touch &:hover,
        .touch &:active {
            
            background-color: #fff;
        }

        .page-header.fixed &,
        .page-header.search-open &,
        .page-header--white &,
        .page-header:hover & {
            background-color: $red;
            color: white;
            &:link,
            &:visited {
                color: white;
            }

            .no-touch &:hover,
            .touch &:active {
               
                background-color: $red-hover;
            }
        }
    }


    &--large {
        padding: 14px 26px;
        font-size: 17px;
        line-height: 23px;
    }


    &--header-btn {
        @include breakpoint(desktop) {
            display: none;
        }
    }
}


.internal-page-back-link {
    font-size: 16px;
    line-height: 22px;
    color: $red;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    margin-top: 40px;
    @include breakpoint(mobile) {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &:link,
    &:visited {
        color: $red;
    }

    .no-touch &:hover,
    .touch &:active {
        text-decoration: underline;
    }

    > svg {
        width: 16px;
        height: 8px;
        fill: $red;
        margin-right: 16px;
        flex-shrink: 0;
        &.inverted {
            transform: rotate(180deg);
        }
    }
}


.parsley-errors-list {
    margin-top: 5px;
    color: $red;
    font-size: 14px;
}


.section-header {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 5px;
    font-weight: 700;
    color: #BABABA;
    text-transform: uppercase;
    transition: color .2s;
    @include breakpoint(small-tablet) {
        font-size: 14px;
    }
}

a.section-header {
    &:link,
    &:visited {
        color: $red;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $red-hover;
    }
}



