.equipment {
    @include section();
    margin-bottom: 80px;
    &--without-tabs {
        .section-header {
            margin-bottom: 100px;
        }
    }
}

.equipment__top-row {
    display: flex;
    align-self: flex-start;
    @include breakpoint(laptop) {
        flex-direction: column;
    }
}

.equipment__tabs-navigation {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-bottom: -35px;
    align-items: flex-start;
    @include breakpoint(laptop) {
        margin-left: 0;
        margin-top: 30px;
    }
    @include breakpoint(small-tablet) {
        position: relative;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 30px;
        margin-bottom: -30px;
        flex-wrap: nowrap;
        margin-left: -1 * $desktop-content-padding;
        margin-right: -1 * $desktop-content-padding;
        @include noScrollbar();
    }

    @include breakpoint(mobile) {
        margin-left: -1 * $mobile-content-padding;
        margin-right: -1 * $mobile-content-padding;
    }

    @include breakpoint(small-mobile) {
        margin-left: -1 * $small-mobile-content-padding;
        margin-right: -1 * $small-mobile-content-padding;
    }
}


.equipment__tab-all-link {
    color: $red;
    font-size: 16px;
    line-height: 21px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: 400;
    padding-top: 14px;
    z-index: 20;
    transition: opacity .3s, transform .3s, visibility 0s linear .3s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);

    @include breakpoint(small-tablet) {
        font-size: 14px;
    }
    svg {
        width: 6px;
        height: 12px;
        flex-shrink: 0;
        margin-left: 8px;
        fill: $red;
        transition: fill .2s;

        @include breakpoint(small-tablet) {
            width: 5px;
            height: 10px;
            margin-left: 6px;
        }
    }
    &:link,
    &:visited {
        color: $red;
    }


    &:hover {
        color: $red-hover;

        svg {
            fill: $red-hover;
        }
    }
}

.equipment__tab-button {
    font-size: 16px;
    line-height: 22px;
    width: auto;
    flex-shrink: 0;
    padding-right: 30px;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    @include breakpoint(small-tablet) {
        font-size: 14px;
        margin-bottom: 0;
    }

    &:first-child {
        @include breakpoint(small-tablet) {
            margin-left: $desktop-content-padding;
        }
        @include breakpoint(mobile) {
            margin-left: $mobile-content-padding;
        }
        @include breakpoint(small-mobile) {
            margin-left: $small-mobile-content-padding;
        }
    }

    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        .equipment__tab-button-text {
            &::before {
                transform: translateZ(0) scale(1);
            }
        }

        .equipment__tab-all-link {
            transition: all .3s;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

    }
    &.active {
       
        font-weight: 700;
        .equipment__tab-button-text {
            &::before {
                transform: translateZ(0) scale(1);
            }

            
        }

      
            .equipment__tab-all-link {
                transition: all .3s;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        
    }
}



.equipment__tab-button-text {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 3px;
        margin-top: 8px;
        background-color: $red;
        transform: translateZ(0) scale(0);
        transform-origin: left center;
        transition: transform 0.2s;
    }


    @include breakpoint(small-tablet) {
        br {
            display: none;
        }
    }
}

.equipment__tabs-list {
    margin-top: 60px;
    position: relative;
    @include breakpoint(tablet) {
        margin-top: 50px;
    }
}

.equipment__tab-item {
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
}

.equipment__slider {
    // width: 100vw;
    // margin-left: calc((100vw - 100%) / 2 * -1);

    .swiper-container {
        overflow: initial;
    }

    .swiper-slide {
        height: auto;
        width: 300px;
        @include breakpoint(tablet) {
            width: 250px;
        }
        @include breakpoint(small-mobile) {
            width: 60%;
        }
    }
}


.equipment__slider-btns {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: auto;

    @include breakpoint(tablet) {
        display: none;
    }
}

.equipment__slider-btn {
    margin-left: 15px;
    z-index: 100;
    transition: all 0.2s;
    outline: none;
    
    
    &.swiper-button-disabled,
    &.swiper-button-locked {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

   
    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }
    svg {
        width: 45px;
        height: 45px;
        display: block;
        fill: $red;
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: $red-hover;
        }
    }
}

.equipment__slider-card {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    filter: grayscale(1);
    opacity: 0.65;
    transition: filter 0.2s, opacity 0.2s;
    &:link,
    &:visited {
        color: black;
    }

    .swiper-slide-active & {
        filter: grayscale(0);
        opacity: 1;
    }

    .no-touch &:hover,
    .touch &:active {
        filter: grayscale(0);
        opacity: 1;
        .equipment__slider-corner {
            &::before {
                transform: scale(1);
            }

            > svg {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.equipment__slider-content {
    margin-top: 45px;
    font-family: $proxima;
    font-size: 16px;
    line-height: 1.3;
    @include breakpoint(tablet) {
        margin-top: 20px;
    }
    @include breakpoint(mobile) {
        font-size: 14px;
        line-height: 20px;
    }
}

.equipment__slider-title {
    font-weight: 700;
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-family: $proxima;
    max-width: 90%;
    margin: 0 auto;
}

.equipment__slider-tag {
    font-size: 10px;
    line-height: 1.4;
    font-family: $proxima;
    color: #FF0000;
    border: 1px solid #FB0D1B;
    padding: 4px 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    display: inline-block;
}

.equipment__slider-text {
    display: block;
}

.equipment__slider-card-image-width-wrapper {
    width: 90%;
    margin: 0 auto;
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.equipment__slider-card-image-container {
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.equipment__slider-card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include objectFitContain();
}

.equipment__slider-corner {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -20px;
    box-sizing: border-box;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 120px solid transparent;
        border-bottom: 120px solid $red;
        transform-origin: right bottom;
        transform: scale(0);
        transition: transform 0.2s;
    }
    > svg {
        fill: white;
        width: 25px;
        height: 14px;
        position: absolute;
        right: 24px;
        bottom: 28px;
        z-index: 30;
        opacity: 0;
        transform: translateX(-30px);
        transition: opacity 0.2s, transform 0.2s;
    }
}
