.footer-content {
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;

    &::before {
        content: '';
        width: 100vw;
        top: 0;
        left: calc((100vw - 100%) / 2 * -1);
        height: 100%;
        background-color: #3d3d3d;
        z-index: -1;
        position: absolute;
    }
}


.footer-content__row {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
    @include breakpoint(laptop) {
        margin: -15px;
    }
}

.footer-content__column {
    width: 33.33%;
    padding: 25px;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-tablet) {
        width: 50%;
        padding: 15px;
    }


    @include breakpoint(small-mobile) {
        width: 100%;
    }
}

.footer-content__logo {
    @include breakpoint(tablet) {
        width: 64px;
    }
}

.footer-content__icl-websites {
    margin-top: 25px;
}

.footer-content__icl-websites-heading {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
}

.footer-content__icl-websites-list {
    max-width: 350px;
    margin: 0 -15px;
    margin-bottom: -5px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(small-mobile) {
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: none;
    }
}

.footer-content__icl-websites-list-item {
    padding: 0 15px;
    width: 50%;
    margin-bottom: 5px;
}

.footer-content__icl-websites-link {
    font-size: 16px;
    line-height: 1.5;
    color: $red;
    display: block;
    white-space: nowrap;
    @include breakpoint(small-mobile) {
        font-size: 12px;
    }
    &::after {
        content: ' >';
        color: $red;
        font-size: 16px;
        line-height: 1.5;
        font-family: $proxima;
    }
    &:link,
    &:visited {
        color: $red;
    }

    .no-touch &:hover,
    .touch &:active {
        text-decoration: underline;
    }
}


.footer-content__factory-name {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    font-family: $roboto;
    margin-bottom: 7px;
    @include breakpoint(small-mobile) {
        font-size: 14px;
        font-weight: 400;
    }
}

.footer-content__factory-location {
    font-size: 16px;
    line-height: 1.2;
    font-family: $roboto;
    margin-bottom: 7px;
    @include breakpoint(small-mobile) {
        font-size: 14px;
        font-weight: 400;
    }
}


.footer__privacy-policy {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 45px;
    @include breakpoint(small-mobile) {
        margin-top: 20px;
    }
}

.footer-content__copyright {
    color: white;
    font-size: 14px;
    line-height: 1.2;
    margin-right: 30px;
    white-space: nowrap;
    
}

.footer-content__user-policy {
    color: $red;
    font-size: 14px;
    line-height: 1.2;
    
    transition: color 0.2s;
    white-space: nowrap;
    @include breakpoint(small-mobile) {
        font-size: 14px;
        line-height: 23px;
    }
    &:link,
    &:visited {
        color: $red;
    }

    .no-touch &:hover,
    .touch &:active {
        text-decoration: underline;
    }
}



.footer-content__phone-link {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 25px;
    white-space: nowrap;
   
    
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .no-touch &:active {
        text-decoration: underline;
    }
}

.footer-content__write-us {
    margin-top: 25px;
    align-self: flex-start;
    @include breakpoint(tablet) {
        margin-top: 15px;
    }

    
}






.footer-content__social {
    display: flex;
    align-items: center;

    
}

.footer-content__social-item {
    margin-right: 34px;
    &:last-child {
        margin-right: 0;
    }
}

.footer-content__social-link {
    > svg {
        fill: $red;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        > svg {
            fill: $red-hover;
        }
    }
}

.footer-content__made-by {
    color: white;
    font-size: 14px;
    line-height: 1.2;
    margin-top: auto;
    @include breakpoint(desktop) {
        
    }
    @include breakpoint(tablet) {
        text-align: left;
    }

    @include breakpoint(small-tablet) {
        margin-top: 25px;
    }

    @include breakpoint(small-mobile) {
       
    }
    

    a {
        display: inline-block;
        
        &:link,
        &:visited {
            color: $red;
        }

        .no-touch &:hover,
        .touch &:active {
            text-decoration: underline;
        }
    }
}
