.header-logo {
    margin-right: 40px;
    height: 62px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: left center;
    transition: transform .2s;
    flex-shrink: 0;
    @include breakpoint(tablet) {
        margin-right: auto;
    }
    img {
        display: block;
        height: 100%;
        height: auto;
        max-width: none;
    }
    svg {
        height: 100%;
        width: auto;
        fill: white;
        transition: fill .2s;
        .no-touch .page-header:hover &,
        .page-header.fixed &,
        .page-header--white &,
        .page-header--light &,
        .page-header--dark &,
        .page-header.search-open & {
            fill: $red;
        }
    }
    
}