.header-logo {
    margin-right: 40px;
    height: 62px;
    height: auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: left center;
    transition: transform .2s;
    flex-shrink: 0;
    svg {
        height: 100%;
        width: auto;
        fill: white;
        transition: fill .2s;
        .page-header:hover &,
        .page-header.fixed &,
        .page-header.search-open & {
            fill: $red;
        }
    }
    
}