.header-language {
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin-bottom: -6px;
    margin-top: -6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    &:link,
    &:visited {
        color: white;
    }


    .no-touch &:hover,
    .touch &:active {
        text-decoration: underline;
    }

    
    .page-header.fixed &,
    .page-header.search-open &,
    .page-header:hover & {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }
}
