.header-language {
    font-size: 16px;
    line-height: 20px;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color .2s;
    @include breakpoint(small-mobile) {
        display: none;
    }
    &:link,
    &:visited {
        color: white;
    }


    .no-touch &:hover,
    .touch &:active {
        color: $red !important;
        text-decoration: underline;
    }

    
    .page-header.fixed &,
    .page-header.search-open &,
    .page-header--white &,
    .page-header--light &,
    .no-touch .page-header:not(.page-header--dark):not(.page-header--light):hover & {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }
}
