.home-news {
    display: flex;
    flex-direction: column;
    @include section();
}

.home-news__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: flex-start;
        .section-header {
            order: 2;
        }

        a.section-header {
            order: 1;
            margin-bottom: 10px;
        }

        @supports (display: contents) {
            display: contents;
            .section-header {
                order: 0;
                margin-bottom: 20px;
            }
    
            a.section-header {
                order: 1;
                margin-bottom: 0;
                margin-top: 20px;
                text-align: right;
            }
        }
    }
}

.home-news__slider {
    margin-top: 45px;
    @include breakpoint(mobile) {
        margin-top: 25px;
        @supports (display: contents) {
            margin-top: 0;
        }
    }
    .swiper-slide {
        height: auto;
        width: 56%;
        box-sizing: border-box;
        @include breakpoint(small-mobile) {
            width: 97%;
        }
    }

    .swiper-container {
        overflow: initial;
    }
}

.home-news__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    margin-bottom: -50px;
    @include breakpoint(laptop) {
        margin: 0 -12px;
        margin-bottom: -24px;
    }
}

.home-news__list-item {
    width: 33.33%;
    padding: 0 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    @include breakpoint(laptop) {
        width: 50%;
        padding: 0 12px;
        margin-bottom: 24px;
    }
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.home-news__card {
    display: flex;
    flex-grow: 1;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        .home-news__card-image {
            transform: translateZ(0) scale(1.08);
        }
    }
}




.home-news__card-left-column {
    display: flex;
    flex-direction: column;
    width: 68px;
    flex-shrink: 0;
    background-color: $red;
    color: white;
    padding-top: 34px;
    padding-bottom: 30px;
    @include breakpoint(small-tablet) {
        padding-top: 30px;
        width: 50px;
    }
}

.home-news__card-date {
    align-self: center;
    font-size: 27px;
    line-height: 1.2;
    text-align: center;
    @include breakpoint(small-tablet) {
        font-size: 24px;
    }
}


.home-news__card-month {
    display: block;
    font-size: 20px;
    line-height: 1.25;
    @include breakpoint(small-tablet) {
        font-size: 18px;
    }
}

.home-news__card-right-column {
    width: 50%;
    flex-grow: 1;
    position: relative;
}

.icon-small-arrow-right {
    fill: white;
    margin-top: auto;
    align-self: center;
    @include breakpoint(small-tablet) {
        width: 7px;
        height: 13px;
    }
}

.home-news__card-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .5);
    }
}


.home-news__card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform .3s ease-out;
    @include objectFitCover();
}



.home-news__card-text {
    padding-top: 32px;
    padding-left: 45px;
    padding-right: 30px;
    padding-bottom: 55px;
    min-height: 240px;
    display: block;
    position: relative;
    z-index: 10;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    @include breakpoint(small-tablet) {
        font-size: 16px;
        padding: 30px;
        min-height: 185px;
    }
    
}