.intro-slider {
    height: 650px;
    position: relative;
    z-index: 1;
    margin-bottom: 110px;
}

.intro-slider__content {
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100%;
    left: calc((100vw - 100%) / 2 * -1);
    background-color: $red;
    color: white;
    z-index: -1;
}

.intro-slider__slides-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.intro-slider__slide {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    &.active {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        z-index: 5;
    }
}

.intro-slider__pagination-container {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: 100%;
}

.intro-slider__pagination {
    display: flex;
    margin: 0 -2px;
}

.intro-slider__pagination-item {
    width: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}

.intro-slider__pagination-active-slide-mark {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    transition: transform .3s;
    z-index: 30;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    &::before {
        content: '';
        width: 100%;
        flex-grow: 1;
        background-color: $red;
    }
}

.intro-slider__pagination-btn {
    display: block;
    background-color: #cdcdcd;
    height: 6px;
    position: relative;
    animation-duration: inherit;
    &::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: darkgrey;
        transform-origin: left center;
        transform: translateZ(0) scaleX(0);
        
    }


    .intro-slider__pagination-item.incoming & {
        &::after {
            animation-name: movingBar;
            animation-duration: inherit;
            animation-timing-function: linear;
        }
    }
}

@keyframes movingBar {
    from {
        transform: translateZ(0) scaleX(0);
    }

    to {
        transform: translateZ(0) scaleX(1);
    }
}
