.container {
    width: 100%;
    max-width: $max-container-width + $desktop-content-padding * 2;
    margin: 0 auto;
    padding: 0 $desktop-content-padding;
    @include breakpoint(mobile) {
        padding: 0 $mobile-content-padding;
    }
    @include breakpoint(small-mobile) {
        padding: 0 $small-mobile-content-padding;
    }
    &--flex {
        display: flex;
    }

    &--align-items-center {
        align-items: center;
    }

    &--flex-column {
        display: flex;
        flex-direction: column;
    }

    &--flex-grow {
        flex-grow: 1;
    }
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    transition: all 0.2s, padding-right 0s;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    .is-admin & {
        position: absolute !important;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(white, 0);
        z-index: -1;
        transform: translateZ(0);
        backface-visibility: hidden;
        transition: background-color 0.1s linear, box-shadow 0.2s;
    }

    &--dark {
        border-bottom: 1px solid rgba(white, 0.1);
    }

    &--light {
        border-bottom: 1px solid #d0d0d0;
    }

    &.fixed,
    &.search-open,
    &--white,
    .no-touch &:not(.page-header--dark):not(.page-header--light):hover {
        border-bottom: 1px solid #d0d0d0;
        border-top: 1px solid #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        &::before {
            background-color: white;
        }
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layout-row {
    display: flex;
    @include breakpoint(laptop) {
        flex-direction: column;
    }
    &:first-child {
        margin-top: 60px;
        @include breakpoint(tablet) {
            margin-top: 50px;
        }
        @include breakpoint(small-tablet) {
            margin-top: 40px;
        }
    }
}

.layout-main-column {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(laptop) {
        width: 100%;
    }
}

// .layout-main-column .container > *,
// .layout-main-column .landing-main > * {
//     &:first-child {
//         margin-top: 0;
//     }
// }

.layout-sidebar {
    width: 295px;
    flex-shrink: 0;
    margin-left: 85px;
    @include breakpoint(laptop) {
        display: none;
    }
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.navigation-standalone {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: calc((100vw - 100%) / 2 * -1);
        background-color: white;
        z-index: -1;
    }
    &--dark {
        &::before {
            background-color: rgba(black, 0.5);
        }

        &::after {
            display: none;
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        height: 1px;
        background-color: #d0d0d0;
        width: 100vw;
        left: calc((100vw - 100%) / 2 * -1);
        z-index: -1;
        pointer-events: none;
        @include breakpoint(mobile) {
            display: none;
        }
    }
    + .fullwidth-block {
        margin-top: 0 !important;
    }
    + .all-news {
        margin-top: 0;
    }
    + .block-wrapper.block-page-06-header {
        .breadcrumbs-header {
            margin-top: 0;
        }
    }
}
