.main-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet) {
        flex-grow: 0;
    }
}

.main-nav__list {
    display: flex;
    flex-grow: 1;
    @include breakpoint(tablet) {
        flex-direction: column;
    }
}

.main-nav__list-item {
    margin-right: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1 * $page-header-bottom-padding;
    margin-top: -1 * $page-header-bottom-padding;
    flex-direction: column;
    @include breakpoint(tablet) {
        margin: 0;
        align-items: initial;
        justify-content: initial;
        border-top: 1px solid #d0d0d0;
        &:first-child {
            border-top: none;
        }
        // border-bottom: 1px solid #D0D0D0;
    }
    &:last-child {
        margin-right: 0;
        @include breakpoint(tablet) {
            border-bottom: 1px solid #d0d0d0;
        }
    }

    &:hover {
        &::before {
            opacity: 1;
            transform: translateZ(0) scaleX(1);
        }

        .main-nav__submenu {
            opacity: 1;
            visibility: visible;
            transition: all 0.2s;
        }

        .main-nav__link {
            &::after {
                opacity: 1;
            }
        }

        .main-nav__submenu-overlay {
            opacity: 1;
            visibility: visible;
            transition: all 0.2s;
        }
    }

    .page-header:not(.fixed) &.active {
        .main-nav__submenu {
            opacity: 0;
            visibility: hidden;
        }
        .main-nav__submenu-overlay {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.main-nav__link {
    font-size: 14px;
    line-height: 1.4;
    color: white;
    position: relative;
    display: block;
    transition: color 0.2s;
    white-space: nowrap;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    .main-nav__list-item--has-submenu & {
        &::before {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -2px;
            margin-left: 6px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid currentColor;
            @include breakpoint(tablet) {
                display: none;
            }
        }
    }
    @include breakpoint(tablet) {
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 24px;
        font-size: 16px;
    }
    &::after {
        content: '';
        height: 4px;
        left: 0;
        width: 100%;
        bottom: 0;
        position: absolute;
        background-color: $red;
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
        @include breakpoint(tablet) {
            display: none;
        }
    }

    .page-header--dark .main-nav__list-item.active &,
    .page-header--light .main-nav__list-item.active & {
        &::after {
            opacity: 1;
        }
    }
    &:not([href]) {
        cursor: default;
        pointer-events: none;
    }

    .icon-arrow-down {
        fill: $red;
        margin-left: auto;
        display: none;
        transition: 0.2s transform;
        @include breakpoint(tablet) {
            display: block;
        }
    }

    .page-header.fixed .main-nav__list-item.active &,
    .page-header.search-open .main-nav__list-item.active &,
    .page-header--white .main-nav__list-item.active &,
    .no-touch .page-header:hover .main-nav__list-item.active & {
        &::after {
            opacity: 1;
        }
    }

    &.active {
        .icon-arrow-down {
            transform: rotate(180deg);
        }
    }

    &:link,
    &:visited {
        color: white;
        @include breakpoint(tablet) {
            color: black;
        }
    }

    .page-header.fixed &,
    .page-header.search-open &,
    .page-header--light &,
    .page-header--white &,
    .page-header:not(.page-header--dark):not(.page-header--light):hover & {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }
}

.main-nav__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: black;
    border-top: 1px solid #d0d0d0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, border-color .2s, visibility 0s linear 0.2s;
    z-index: 900;
    @include breakpoint(tablet) {
        position: static;
        border-top: none;
        opacity: 1;
        visibility: visible;
        padding: 0;
        display: none;
        animation-name: fade-in;
        animation-duration: 0.3s;
        transition: none;
        &.shown {
            display: block;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #fff;
        z-index: 10;
        transition: background-color .2s;
        @include breakpoint(tablet) {
            display: none;
        }
    }

    &::after {
        content: '';
        bottom: 0;
        width: 100%;
        height: 10px;
        left: 0;
        z-index: 5;
        position: absolute;
        box-shadow: 0px 4px 40px rgba(black, 0.15);
        @include breakpoint(tablet) {
            display: none;
        }
    }


    .page-header--dark:not(.fixed) & {
        border-top: 1px solid transparent;
        &::before {
            background-color: rgba(black, .96);
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-nav__submenu-content {
    width: 100%;
    max-width: $max-container-width + $desktop-content-padding * 2;
    margin: 0 auto;
    padding: 0 $desktop-content-padding;
    position: relative;
    z-index: 30;
    &--standalone {
        max-width: none;
        padding: 0;
        margin: 0;
    }

    @include breakpoint(tablet) {
        &:not(.main-nav__submenu-content--standalone) {
            padding: 0 40px;
        }
    }
}

.main-nav__submenu-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -28px;

    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            margin: 0;
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .main-nav__submenu-content--standalone & {
            margin: 0;
        }
    }
}

.main-nav__submenu-list-item {
    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            width: 100%;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 20px;
            }
        }

        .main-nav__submenu-content--standalone & {
            margin: 0;
            // flex-grow: 1;
            // text-align: center;
        }
    }
}

.main-nav__submenu-link {
    color: black;
    font-size: 14px;
    line-height: 22px;
    transition: color 0.3s;
    padding: 35px 28px;
    display: block;
    transition: background-color 0.2s;
    position: relative;
    .page-header--dark:not(.fixed) & {
        color: white;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $red;
        transition: opacity 0.2s;
        opacity: 0;
    }

    &:link,
    &:visited {
        color: black;
    }

    .main-nav__submenu-list-item.active &,
    .no-touch &:hover,
    .touch &:active {
        background-color: #f4f4f4;
        &::after {
            opacity: 1;
        }
    }


    .page-header--dark:not(.fixed) .main-nav__submenu-list-item.active &,
    .no-touch .page-header--dark:not(.fixed) &:hover,
    .touch .page-header--dark:not(.fixed) &:active {
        background-color: rgba(61,61,61,.3);
        &::after {
            opacity: 1;
        }
    }

    @include breakpoint(tablet) {
        font-size: 16px;
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            font-size: 14px;
            line-height: 20px;
            padding: 0;

            .no-touch &:hover,
            .touch &:active {
                color: $red;
                background-color: transparent;
            }
            &::after {
                display: none;
            }
        }

        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) .main-nav__submenu-list-item.active & {
            color: $red;
            background-color: transparent;
        }

        .main-nav__submenu-content--standalone & {
            padding: 20px 20px;
        }
    }
}

.main-nav__submenu-overlay {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.5);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    @include breakpoint(tablet) {
        display: none;
    }
}

.main-nav__submenu-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            flex-direction: column;
            justify-content: initial;
            margin: 0;
        }

        .main-nav__submenu-content--standalone & {
            justify-content: flex-start;
        }
    }
}

.main-nav__submenu-products-item {
    width: 160px;
    width: min-content;
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            width: 100%;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 20px;
            }
        }

        .main-nav__submenu-content--standalone & {
            width: 25%;
        }
    }

    @include breakpoint(small-tablet) {
        .main-nav__submenu-content--standalone & {
            width: 50%;
        }
    }
    @include breakpoint(supersmall-mobile) {
        .main-nav__submenu-content--standalone & {
            width: 50%;
        }
    }
}

.main-nav__submenu-products-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    padding: 22px 40px;
    transition: color 0.2s, background-color 0.2s;
    position: relative;
    &:link,
    &:visited {
        color: #cfcfcf;
    }

    .navigation-standalone--dark & {
        &:link,
        &:visited {
            color: #696969;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $red;
        opacity: 0;
        transition: opacity 0.2s;
    }
    .main-nav__submenu-products-item.active &,
    .no-touch &:hover,
    .touch &:active {
        color: black;
        background-color: #f6f6f6;

        &::after {
            opacity: 1;
        }

        .main-nav__submenu-icon-container {
            > svg {
                fill: #999999;
            }

            > img {
                opacity: .6;
            }
        }
    }

    .navigation-standalone--dark .main-nav__submenu-products-item.active &,
    .no-touch .navigation-standalone--dark &:hover,
    .touch .navigation-standalone--dark &:active {
        color: white;
        background-color: rgba(#3d3d3d, 0.1);

        &::after {
            opacity: 1;
        }

        .main-nav__submenu-icon-container {
            > svg {
                fill: white;
            }

            > img {
                opacity: 1;
            }
        }
    }

    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            align-items: initial;
            flex-direction: row;
            padding: 0;

            &:link,
            &:visited {
                color: black;
            }

            .no-touch &:hover,
            .touch &:active {
                background-color: transparent;
                .main-nav__submenu-title {
                    color: $red;
                }
            }

            &::after {
                display: none;
            }
        }

        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) .main-nav__submenu-products-item.active & {
            background-color: transparent;
            .main-nav__submenu-title {
                color: $red;
            }
        }
    }
}

.main-nav__submenu-icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    > svg {
        fill: #c2c2c2;
        transition: fill 0.2s;
    }

    > img {
        max-width: 80%;
        max-height: 80%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: .25;
    }

    .navigation-standalone--dark & {
        > svg {
            fill: #6A6A6A;  
        }

        > img {
            opacity: .5;
            filter: invert(100%);
        }
    }
    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            display: none;
        }
    }

    @include breakpoint(mobile) {
        .main-nav__submenu-content--standalone & {
            width: 60px;
            height: 60px;
        }
    }
   
}

.main-nav__submenu-title {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    @include breakpoint(tablet) {
        .main-nav__submenu-content:not(.main-nav__submenu-content--standalone) & {
            font-size: 14px;
            line-height: 20px;
            margin-top: 0;
        }
    }

    @include breakpoint(mobile) {
        text-align: left;
        .main-nav__submenu-content--standalone & {
            // display: none;
            font-size: 12px;
        }
    }
}
