@mixin noHighlight() {
    -webkit-tap-highlight-color: transparent;
}

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin noHighlight() {
    -webkit-tap-highlight-color: transparent;
}

@mixin objectFitCover() {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

@mixin objectFitCoverTop() {
    object-fit: cover;
    object-position: top;
    font-family: 'object-fit: cover; object-position: top;';
}

@mixin objectFitContain() {
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
}

@mixin objectFitContainBottom() {
    object-fit: contain;
    object-position: bottom;
    font-family: 'object-fit: contain; object-position: bottom;';
}

@mixin breakpoint($class) {
    @if $class == large-desktop {
        @media only screen and (max-width: $large-desktop-width) {
            @content;
        }
    } @else if $class == desktop {
        @media only screen and (max-width: $desktop-width) {
            @content;
        }
    } @else if $class == laptop {
        @media only screen and (max-width: $laptop-width) {
            @content;
        }
    } @else if $class == tablet {
        @media only screen and (max-width: $tablet-width) {
            @content;
        }
    } @else if $class == small-tablet {
        @media only screen and (max-width: $small-tablet-width) {
            @content;
        }
    } @else if $class == mobile {
        @media only screen and (max-width: $mobile-width) {
            @content;
        }
    } @else if $class == small-mobile {
        @media only screen and (max-width: $small-mobile-width) {
            @content;
        }
    } @else if $class == supersmall-mobile {
        @media only screen and (max-width: $supersmall-mobile-width) {
            @content;
        }
    }
}


@mixin breakpointMF($class) {
    @if $class == large-desktop {
        @media only screen and (max-width: $desktop-width + 1px) {
            @content;
        }
    } @else if $class == desktop {
        @media only screen and (max-width: $laptop-width + 1px) {
            @content;
        }
    } @else if $class == laptop {
        @media only screen and (max-width: $tablet-width + 1px) {
            @content;
        }
    } @else if $class == tablet {
        @media only screen and (max-width: $small-tablet-width + 1px) {
            @content;
        }
    } @else if $class == small-tablet {
        @media only screen and (min-width: $mobile-width + 1px) {
            @content;
        }
    } @else if $class == mobile {
        @media only screen and (max-width: $small-mobile-width + 1px) {
            @content;
        }
    } 
}

@mixin defaultContent() {
    > * {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    > a:not(.btn-with-corners) {
        color: $red;
        transition: color 0.2s;
        &:link,
        &:visited {
            color: $red;
        }

        .no-touch &:hover,
        .touch &:active {
            color: $red-hover;
        }
    }
    > h1 {
        font-size: 40px;
        @include breakpoint(tablet) {
            font-size: 35px;
        }
        @include breakpoint(mobile) {
            font-size: 28px;
        }
    }

    > h2 {
        font-size: 32px;
        @include breakpoint(mobile) {
            font-size: 24px;
        }
    }

    > h3 {
        font-size: 24px;
        @include breakpoint(mobile) {
            font-size: 20px;
        }
    }

    > h4 {
        font-size: 20px;
        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    & > h5,
    & > h6 {
        font-size: 16px;
        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        margin-bottom: 0.5em;
    }

    .p > p,
    > p {
        font-family: $proxima;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 1em;
        margin-top: 1em;
        a {
            display: inline;
            color: $red;

            &:link,
            &:visited {
                color: $red;
            }

            .no-touch &:hover,
            .touch &:active {
                text-decoration: underline;
            }
        }
        @include breakpoint(small-mobile) {
            font-size: 16px;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
    }

    > ul {
        list-style: none;
        margin-bottom: 40px;
        margin-top: 20px;
        line-height: 1.5;
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        @include breakpoint(small-mobile) {
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
        li {
            padding-left: 25px;
            font-size: 20px;
            position: relative;
            font-family: $proxima;
            margin-bottom: 15px;
            @include breakpoint(mobile) {
                font-size: 16px;
            }
            @include breakpoint(small-tablet) {
                margin-bottom: 5px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                width: 8px;
                height: 8px;
                background-color: $red;
                position: absolute;
                left: 0;
                top: 9px;
                border-radius: 50%;
            }
        }
    }

    > ol {
        list-style: none;
        margin-bottom: 40px;
        margin-top: 20px;
        line-height: 1.5;
        counter-reset: ordered-list;
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        @include breakpoint(small-mobile) {
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
        li {
            padding-left: 25px;
            font-size: 20px;
            position: relative;
            font-family: $proxima;
            margin-bottom: 10px;
            counter-increment: ordered-list;
            @include breakpoint(mobile) {
                font-size: 16px;
            }
            @include breakpoint(small-tablet) {
                margin-bottom: 5px;
            }
            &::before {
                content: counter(ordered-list) '. ';
                font-weight: 900;
                font-size: 16px;
                color: $red;
                position: absolute;
                top: 4px;
                left: 0;
                @include breakpoint(mobile) {
                    top: 1px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    > blockquote {
        padding-left: 32px;
        display: block;
        font-size: 26px;
        line-height: 1.35;
        position: relative;
        font-family: $proxima;
        margin-bottom: 15px;
        margin-top: 15px;
        @include breakpoint(tablet) {
            font-size: 22px;
        }
        @include breakpoint(small-mobile) {
            font-size: 18px;
        }
        &::before {
            content: '';
            left: 0;
            height: 100%;
            top: 0;
            width: 4px;
            position: absolute;
            background-color: $red;
        }
    }

    .show-all-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 55px;
        @include breakpoint(mobile) {
            margin-bottom: 20px;
        }
    }

    .show-all-btn__link {
        color: $red;
        margin-left: auto;
        display: inline-flex;
        align-items: center;

        > svg {
            fill: $red;
            margin-left: 8px;
        }
        &:link,
        &:visited {
            color: $red;
        }

        .no-touch &:hover,
        .touch &:active {
            text-decoration: underline;
        }
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > p,
    & > blockquote {
        &:empty {
            display: none;
        }
    }

    > .btn-with-corners {
        margin-top: 20px;
        @include breakpoint(small-mobile) {
            margin-top: 10px;
        }
    }

    > img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    > .image-block:not(.image-block--floated) {
        margin-bottom: 55px;
        margin-top: 55px;
        @include breakpoint(mobile) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
