.search {
    @include section();
    padding-top: 60px;
    @include breakpoint(tablet) {
        padding-top: 50px
    }
    @include breakpoint(small-tablet) {
        padding-top: 40px;
    }
}


.search__form {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}


.search__input {
    width: 50%;
    flex-grow: 1;
    background-color: transparent;
    font: inherit;
    color: black;
    padding: 24px 20px;
    font-weight: 700;
    font-size: 24px;
    @include breakpoint(mobile) {
        font-size: 18px;
        padding: 18px 20px;
        font-weight: 400;
    }
    @include placeholder {
        color: rgba(black, .3);
    }
}


.search__submit {
    margin-right: 20px;
    flex-shrink: 0;
    svg {
        transition: fill .2s;
    }
    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: $red;
        }
    }
}


.search__found-entries {
    font-size: 18px;
    line-height: 23px;
    color: #999999;
    margin-top: 20px;
    @include breakpoint(small-mobile) {
        font-size: 16px;
        margin-top: 10px;
    }
}



.search__results {
    margin-top: 55px;
    @include breakpoint(mobile) {
        margin-top: 30px;
    }
}


.search__results-list {
    
    max-width: 1000px;
    
}


.search__results-list-item {
    margin-bottom: 55px;
    @include breakpoint(mobile) {
        margin-bottom: 40px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}


.search__results-card-title {
    font-weight: 700;
    font-size: 32px;
    @include breakpoint(mobile) {
        font-size: 24px;
    }
}


.search__results-card-text {
    margin-top: 18px;
    font-family: $proxima;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    > * {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    > p {
        margin: 15px 0;
    }
    a {
        &:link,
        &:visited {
            color: $red;
        }

        .no-touch &:hover,
        .touch &:active {
            text-decoration: underline;
        }
    }
    @include breakpoint(small-mobile) {
        font-size: 16px;
    }
}