
.secondary-nav {
    margin-bottom: 55px;

    padding-top: 35px;
    border-top: 1px solid #DEDEDE;
}

.secondary-nav__row {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
    @include breakpoint(laptop) {
        margin: -15px;
    }
}

.secondary-nav__column {
    width: 33.33%;
    padding: 25px;
    @include breakpoint(laptop) {
       padding: 15px;
    }

    @include breakpoint(small-tablet) {
        width: 50%;
    }

    
}

.secondary-nav__list {
    margin-top: 20px;
}

.secondary-nav__list-item {
    margin-bottom: 15px;
    @include breakpoint(mobile) {
        margin-bottom: 13px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.secondary-nav__link {
    color: black;
    font-size: 16px;
    line-height: 22px;
    &:link,
    &:visited {
        color: black;
    }


    @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 16px;
    }

    // .no-touch &:hover,
    // .touch &:active {
    //     text-decoration: underline;
    // }
}


.secondary-nav__heading-link {
    display: inline-block;
    margin-bottom: 15px;
    color: #BABABA;
    &:link,
    &:visited {
        color: #BABABA !important;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #BABABA !important;
    }

    svg {
        fill: #BABABA;
        margin-bottom: -3px;
        margin-left: -4px;
        transform: scaleX(-1);
        flex-shrink: 0;
        display: inline-block;
        vertical-align: baseline;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
