.serial {
    margin: 100px 0;
    @include breakpoint(tablet) {
        margin: 80px 0;
    }
    @include breakpoint(small-tablet) {
        margin: 50px 0;
    }
}

.serial__heading {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
    @include breakpoint(mobile) {
        font-size: 20px;
    }
}

.serial__instruction-text {
    font-family: $proxima;
    font-size: 20px;
    margin-bottom: 10px;
    @include breakpoint(small-mobile) {
        font-size: 16px;
    }
}

.serial__row {
    display: flex;
    @include breakpoint(tablet) {
        flex-direction: column;
    }
}

.serial__left-column {
    width: 50%;
    @include breakpoint(tablet) {
        width: 100%;
    }
}

.serial__right-column {
    width: 40%;
    margin-left: auto;
    &--image-column {
        @include breakpoint(tablet) {
            order: -1;
        }
    }
    @include breakpoint(tablet) {
        width: 100%;
    }
}

.serial__form {
    background-color: #f2f2f2;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    @include breakpoint(tablet) {
        margin-bottom: 30px;
    }
    @include breakpoint(mobile) {
        padding: 25px 20px;
    }
}

.serial__form-label {
    font-family: $proxima;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    @include breakpoint(mobile) {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.serial__form-input {
    background-color: #fff;
    font: inherit;
    font-family: $proxima;
    font-size: 30px;
    padding: 8px 10px;
    color: black;
    border: 1px solid #d0d0d0;
    margin-bottom: 30px;
    outline: none;
    @include breakpoint(mobile) {
        font-size: 24px;
        margin-bottom: 20px;
        padding: 6px 10px;
    }
}

.serial__form-submit {
    padding: 14px 34px;
    align-self: flex-start;
    outline: none;
    @include breakpoint(mobile) {
        padding: 12px 20px;
        width: 100%;
    }
}

.serial__instruction-image {
    width: 100%;
    max-width: 420px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.serial__search-results {
    table {
        width: 100%;
        border-collapse: collapse;
        @include breakpoint(small-tablet) {
            display: block;
        }

        th,
        td {
            padding: 12px 12px;
            vertical-align: top;
            text-align: left;
        }
        thead {
            @include breakpoint(small-tablet) {
                display: block;
            }
            th {
                font-size: 16px;

                font-weight: 700;
                border-bottom: 1px solid #d0d0d0;
                @include breakpoint(small-tablet) {
                    display: none;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }

        tbody {
            @include breakpoint(small-tablet) {
                display: block;
            }
            td {
                font-family: $proxima;
                font-size: 16px;
                line-height: 1.4;

                position: relative;
                @include breakpoint(small-tablet) {
                    display: block;
                    margin-bottom: 10px;
                    padding: 0;
                }

                &::before {
                    content: attr(data-th) ':';
                    color: black;
                    font-weight: 700;

                    margin-bottom: 5px;
                    display: none;
                    @include breakpoint(small-tablet) {
                        display: block;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transition: background-color 0.2s;
                    z-index: -1;
                    @include breakpoint(small-tablet) {
                        display: none;
                    }
                }

                &:first-child {
                    padding-left: 0;
                    &::after {
                        width: calc(100% + 16px);
                    }
                }

                &:last-child {
                    padding-right: 0;
                    @include breakpoint(small-tablet) {
                        margin-bottom: 0;
                    }
                    &::after {
                        width: calc(100% + 16px);
                        right: auto;
                        left: 0;
                    }
                }
            }

            tr {
                @include breakpoint(small-tablet) {
                    display: block;
                    margin-bottom: 30px;
                    border: 1px solid #d0d0d0;

                    padding: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .no-touch &:hover,
                .touch &:active {
                    td {
                        &::after {
                            background-color: #f2f2f2;
                        }
                    }
                }
            }
        }

        a {
            &:link,
            &:visited {
                color: $red;
            }

            .no-touch &:hover,
            .touch &:active {
                text-decoration: underline;
            }
        }
    }
}

.serial__search-preloader {
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
    @include breakpoint(mobile) {
        font-size: 16px;
    }
    
    // letter-spacing: .2px;
    svg {
        width: 60px;
        height: 60px;
        position: relative;
        animation: spinner-rotate 2s linear infinite;
        flex-shrink: 0;
        margin-right: 25px;
        @include breakpoint(mobile) {
            width: 40px;
            height: 40px;
        }
        circle {
            
            fill: none;
            stroke-width: 8;
            stroke: $red;
            stroke-dasharray: 405px;
            stroke-dashoffset: 405px;
            stroke-linecap: round;
            animation: spinner 2s linear infinite;
        }
    }
}


.serial__error-message {
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
    @include breakpoint(mobile) {
        font-size: 16px;
    }
    svg {
        fill: $red;
        flex-shrink: 0;
        margin-right: 20px;
        transform: rotate(45deg);
        width: 35px;
        height: 35px;
        @include breakpoint(mobile) {
            width: 30px;
            height: 30px;
        }
    }
}


@keyframes spinner {
    0%, 100% {
        stroke-dashoffset: 405px;
    }
    50% {
        stroke-dashoffset: 0;
    }
    50.1% {
        stroke-dashoffset: 810px;
    }
}


@keyframes spinner-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes serial-fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes serial-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.serial-fade-in {
    animation-name: serial-fade-in;
    animation-duration: 0.3s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}

.serial-fade-in-playing {
    animation-play-state: running;
}

.serial-fade-out {
    animation-name: serial-fade-out;
    animation-duration: 0.3s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}

.serial-fade-out-playing {
    animation-play-state: running;
}
