// Colors

$red: #FB0D1B;
$red-hover: #C40C1F;

// Fonts

$roboto: 'Roboto', sans-serif;
$proxima: 'Proxima Nova', sans-serif;

// Widths

$max-container-width: 1380px;

// Paddings 


$desktop-content-padding: 40px;
$mobile-content-padding: 20px;
$small-mobile-content-padding: 15px;

$page-header-top-padding: 18px;
$page-header-bottom-padding: 18px;

// Breakpoints

$large-desktop-width: 1600px;
$desktop-width: 1400px;
$laptop-width: 1240px;
$tablet-width: 1080px;
$small-tablet-width: 968px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 370px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;





